{% extends "seo_base.html" %}
{% load i18n %}
{% load seo_extras %}
{% load cache %}
{% cache 600 joblisting %}

{% block directseo_title %}
    {{site_title}} 
{% endblock %}

{% block direct_extraHeaderContent %}
    <link rel="stylesheet" href="/style/def.ui.dotjobs.css" type="text/css">
    <link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}default_config.css" />
    <script type="text/javascript">
      var ABSOLUTE_URL = "{{ ABSOLUTE_URL }}",
          impersonating = {% if request.impersonator %}true{% else %}false{% endif %};
    </script>
    <script src="{{ STATIC_URL }}def.ui.dotjobs.165-1.js" type="text/javascript"></script>
    <style>
    body{
        padding-top: 0px;
    }
    </style>
{% endblock %}
{% block directseo_container %}
    <div id="direct_header">
        <h1 id="direct_mobileH1">
            {% if "network" in site_tags %}
                {% with site_heading|cut:".jobs" as site_heading_base %}
                    {%if site_heading_base == site_heading %}
                        {% with site_heading|cut:" Jobs" as site_heading_base2 %}
                            {%if site_heading_base2 == site_heading %}
                                {{site_heading}}
                            {% else %}
                                {{site_heading_base2}}<img src="//d2e48ltfsb5exy.cloudfront.net/content_ms/img/dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {{site_heading_base}}<img src="//d2e48ltfsb5exy.cloudfront.net/content_ms/img/dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                    {% endif %}
                {% endwith %}
            {% else %}
                {% if site_heading|lower == "default" %}
                    {{host}}
                {%else%}
                    {{site_heading}}
                {% endif %}    
            {% endif %}
        </h1>
        
    </div>
    <div id="mainContent" style="padding-top:20px;">
        <div id="SEOcontent">
            <div id="contentHeader">
                <h2>{% trans "This site is currently not configured" %}</h2>                
            </div>
            <div id="contentContents">
                <p>
                    This site needs to have its DNS settings updated in order to display properly. Instructions on how
                    to do this can be found in the following document:
                </p>
                <p><a href="http://seo.nlx.org/documents/dns-settings.pdf">DotJobs DNS Instructions</a></p>
            </div>    
    <div id="direct_footer">
    {% block directseo_footer %}    
    {% endblock %}</div>
    
{% endblock %}

{% endcache %}
