{% comment %}
Default widget for Saved Search. The purpose of this template is to allow a
modifiable saved search widget block that can be included on any page. Note the
various Saved Search States and update them accordingly.

CONTEXT AVAILABLE:
error - True/False based on if there was a form error
success - True/False based on if an email had just been created
user - Member's User object if logged in
search - Existing search object if user already has this saved search

REQUIRED TAGS:
saved-search-form
saved-search-btn
ss-btn-link
{% endcomment %}

{# Below script is required to store user information for included JS #}
<script>
    var existing_user_email{% if user %}='{{ user.email }}'{% endif %};
</script>
<link rel="stylesheet" type="text/css" href="//d2e48ltfsb5exy.cloudfront.net/myjobs/tools/widget/def.myjobs.widget.154-10.css">
<div id="direct-saved-search-box" class="direct_rightColBox direct-action-box">
<div id="direct-saved-search">
    <div class="saved-search-form">
    <em class="warning">{{ error }}</em>
    {% if new_user_success %}
    {# The block below is shown when anonymous user successfully adds an email or user adds alternate email #}
        <em class="success">Success</em><p>Your search was successfully saved. Results will be sent to {{ current_input }}.</p>

    {% elif not search %}
    {# The block below is for the widget given that the saved search is not saved #}
        <div id="cta-saved-search-form">Get new jobs sent directly to your inbox!</div>
        <input placeholder="Your email address" type="text"
               id="saved-search-email" name="saved-search-email"
               {% if current_input %}value="{{  current_input }}"
               {% elif user.email %}value="{{  user.email }}"{% endif %}>
        {# saved-search-btn is linked to "submit" logic. ss-btn-link text is replaced based on content (saving, etc) #}
        <div class="direct-action-btn" id="saved-search-btn">
            <a href="" id="ss-btn-link">
                {% if not error %}
                Save Search to My.jobs
                {% else %}
                Try Again
                {% endif %}
            </a>
        </div>

    {% elif search.is_active %}
    {# The block below is for the widget given that the saved search exists and is active #}
        <p class="confirmation-text"><b>This search is being sent to {{ search.email }}.</b></p>
        <div class="direct-action-btn" id="saved-search-edit-btn"><a href="https://secure.my.jobs/saved-search/view/edit?id={{ search.id }}{% if search.is_partner_saved_search %}&pss=True{% endif %}" target="_blank">Edit Search on My.jobs</a></div>

    {% else %}
    {# Custom code below is for the widget given that the saved search exists but is not active #}
        <p class="confirmation-text"><b>You have saved this search, but email sending has been deactivated</b></p>
        {# saved-search-btn is linked to "submit" logic. ss-btn-link text is replaced based on content (saving, etc) #}
        <div class="direct-action-btn" id="saved-search-edit-btn"><a href="https://secure.my.jobs/saved-search/view/edit?id={{ search.id }}{% if search.is_partner_saved_search %}&pss=True{% endif %}" target="_blank">Edit Search on My.jobs</a></div>
    {% endif %}
    </div>
</div>
</div>