{% load i18n %}
{% load common_tags %}

{% if request.GET.callback %}
<link href="{{ STATIC_URL }}topbar.directseo.165-10.css" rel="stylesheet" type="text/css">
{% else %}
<link href="{{ STATIC_URL }}topbar.myjobs.165-10.css" rel="stylesheet" type="text/css">
{% endif %}

<div class="topbar" data-dropdown="dropdown" role="menubar">
    <div class="topbar-inner">
        <div id="de-topbar-content" class="wrapper">
            <div id="logo-block" class="de-topbar-item">
                <a id="anchor-logo" href="http://www.my.jobs/">
                    <h3 id="topbar-logo">My.jobs</h3>
                </a>
            </div>

            {% get_ms_name as microsite_name %}
            {% if microsite_name != None %}
            <div id="last-microsite" class="de-topbar-item">
                <a href="{% get_ms_url %}">
                    <span id="last-microsite-name">
                        {{ microsite_name }}
                    </span>
                    <span class="arrow pull-left"></span>
                </a>
            </div>
            {% endif %}

            <div class="menu-container" role="menu">
                {% if user.is_authenticated and request.session.keys|length %}
                <ul class="mobile_hide">
                    <li class="has-drop">
                        <a id="menu-inbox">{{ new_messages.count }}<div class="icon-envelope icon-white"></div></a>
                        <ul class="submenu">
                            <li id="menu-inbox-all"><a href="{{ ABSOLUTE_URL }}message/inbox">Inbox (See All)</a></li>
                            {% for message in new_messages %}
                                {% if forloop.counter <= 3 %}
                                    <li><a href="{{ ABSOLUTE_URL }}message/inbox?message={{ message.message.pk }}">{{ message.message.start_on.date }} - {{ message.message.subject|truncatewords:'10' }}</a></li>
                                {% endif %}
                            {% empty %}
                                <li><p>No new unread messages </p></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% get_company_from_cookie as company %}
                    {% is_a_group_member company user "Employer" as group_member %}
                    {% get_company_name user as company_name %}
                    {% if group_member %}
                    <li class="{% active_tab 'employer-tools' %} has-drop">
                        <a>{% trans "Employers" %}</a>
                        <ul id="employer-apps" class="submenu">
                            {% if 'read partner' in activities %}
                                <li><a id="partner-tab" href="{{ ABSOLUTE_URL }}prm/view">{% trans "PRM" %}</a></li>
                            {% endif %}
                            {% if 'read partner' in activities %}
                                <li><a id="reports-tab" href="{{ ABSOLUTE_URL }}reports/view/overview">{% trans "Reports" %}</a></li>
                            {% endif %}
                            {% if company.product_access %}
                                <li><a id="purchasedmicrosite-tab" href="{% url 'purchasedmicrosite_admin_overview' %}">{% trans "Partner Microsite" %}</a></li>
                            {% endif %}
                            {% if company.purchasedproduct_set.exists %}
                                <li><a id="purchasedproducts-tab" href="{% url 'purchasedproducts_overview' %}">{% trans "Purchased Jobs" %}</a></li>
                            {% endif %}
                            {% if company.posting_access %}
                                <li><a id="posted-jobs-tab" href="{% url 'jobs_overview' %}">{% trans "Posted Jobs" %}</a></li>
                            {% endif %}
                            {% if 'read role' in activities %}
                              <li><a id="posted-jobs-tab" href="{{ ABSOLUTE_URL }}manage-users">{% trans "Manage Users" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="has-drop">
                        <a onclick="return false;">{{ user.email }}</a>
                        <ul class="submenu">
                            <li><a href="{{ ABSOLUTE_URL }}profile/view/">{% trans "My Profile" %}</a></li>
                            <li><a href="{{ ABSOLUTE_URL }}saved-search/view/">{% trans "My Saved Searches" %}</a></li>
                            <li><a href="{{ ABSOLUTE_URL }}account/edit">{% trans "Account Settings" %}</a></li>
                            <li><a href="{% get_ms_url %}">{% trans "Search Jobs" %}</a></li>
                            <li><a href="{{ ABSOLUTE_URL }}accounts/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>

                <a id="topbar-back" class="desktop_hide" href="#" onclick="javascript:window.history.back(-1);return false;"><span id="prm-arrow-left"></span></a>
                <div id="" class="menu-bar desktop_hide" style="text-align: right;">
                    <ul id="nav">
                        <li>
                            <a class="main-nav"></a>
                            <ul class="span4" id="pop-menu">
                                <li id="logged-in-li">
                                    {% trans "Logged in as " %}
                                    <b>

                                        {% with short_email=user.email|truncatechars:"20" %}

                                        {% with name_obj=user.get_full_name %}

                                        {% if not name_obj %}

                                        {{ short_email }}

                                        {% else %}

                                        {{ name_obj }}

                                        {% endif %}

                                        {% endwith %}

                                        {% endwith %}

                                    </b>
                                </li>
                                <li id="back-btn-li" class="no-show"><a id="back-btn"><span class="arrow-left"></span></a></li>

                                {% if not user.is_disabled %}
                                    <li><a id="profile-link" class="no-show seeker-menu" href="{{ ABSOLUTE_URL }}profile/view/">{% trans "My Profile" %}</a></li>

                                    {% if user.is_active %}

                                        <li><a id="savedsearch-link" class="no-show seeker-menu" href="{{ ABSOLUTE_URL }}saved-search/view/">{% trans "My Saved Searches" %}</a></li>

                                        {% if 'read partner' in activities %}

                                            <li><a id="employer-tools" class="no-show desktop_hide" style="cursor: pointer;">{% trans "Employer" %}</a></li>


                                            <li><a id="partner-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}prm/view?company={{ company.id }}">{% trans "PRM" %}</a></li>

                                        {% endif %}
                                        {% if 'read partner' in activities %}
                                            <li><a id="reports-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}reports/view/overview">{% trans "Reports" %}</a></li>
                                        {% endif %}
                                        {% if company.product_access %}
                                            <li><a id="purchased-microsite-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}{% url 'purchasedmicrosite_admin_overview' %}">{% trans "Partner Microsite" %}</a></li>
                                        {% endif %}
                                        {% if company.has_purchased_products %}
                                            <li><a id="purchasedproducts-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL}}{% url 'purchasedproducts_overview' %}">{% trans "Purchased Jobs" %}</a></li>
                                        {% endif %}
                                        {% if company.posting_access %}
                                            <li><a id="purchased-microsite-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}{% url 'jobs_overview' %}">{% trans "Posted Jobs" %}</a></li>
                                        {% endif %}
                                        {% if 'read role' in activities %}
                                          <li><a id="posted-jobs-tab" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}manage-users">{% trans "Manage Users" %}</a></li>
                                        {% endif %}
                                    {% endif %}
                                    <li><a id="account-link" href="{{ ABSOLUTE_URL }}account/edit">{% trans "Account Settings" %}</a></li>
                                    <li><a id="menu-inbox-link" href="{{ ABSOLUTE_URL }}message/inbox">{% trans "Messages" %} ({{ new_messages.count }})</a></li>
                                    <li><a id="search-jobs" href="{% get_ms_url %}">{% trans "Search Jobs" %}</a></li>
                                    <li><a id="settings-link" style="cursor: pointer;">{% trans "Settings" %}</a></li>

                                {% endif %}

                                <li><a id="logout-link" href="https://secure.my.jobs/accounts/logout/">Log Out</a></li>

                                <li><a class="settings-nav-item sub-nav-item no-show" href="{{ ABSOLUTE_URL }}account/edit">{% trans "Account Settings" %}</a></li>
                                <li><a class="settings-nav-item sub-nav-item no-show" href="{{ ABSOLUTE_URL }}accounts/logout">Log Out</a></li>
                            </ul>{# /pop-menu #}
                        </li>
                    </ul>{# /nav #}
                </div>{# /menu-bar pagination-right pull-right #}
                {% else %}
                    {# MOBILE VIEW #}
                    <ul class="mobile_hide">
                        <li><a href="http://www.my.jobs/employers/">{% trans "Employers / Post Jobs" %}</a></li>
                        <li><a href="{{ ABSOLUTE_URL }}">{% trans 'Create Account / Log In' %}</a></li>
                    </ul>
                    <a id="topbar-back" class="desktop_hide" href="#" onclick="javascript:window.history.back(-1);return false;"><span id="prm-arrow-left"></span></a>
                    <div id="" class="menu-bar desktop_hide" style="text-align: right;">
                        <ul id="nav">
                            <li>
                                <a class="main-nav"></a>
                                <ul id="pop-menu">
                                    <li><a id="demo-link" class="no-show" href="http://www.my.jobs/employers/">{% trans "Employers / Post Jobs" %}</a></li>
                                    <li><a id="login-link" class="no-show" href="{{ ABSOLUTE_URL }}">{% trans 'Create Account / Log In' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if group_member and company_name|length > 1 %}
{% json_companies company_name as companies %}
<script>
    var tools_companies = {{ companies|safe }};
</script>
{% endif %}
