{% load postajob_tags %}
<div class="sidebar">
    <div class="navigation">
        <h2 class="top">Navigation</h2>
        {% if primary_btn %}
            <a class="btn primary" href="{{url_name}}">{{ btn_name }}</a>
        {% endif %}
        {% if 'read request' in activities %}
          <a class="btn {% select 'request' %}" href="{% url 'request' %}">Requests</a>
        {% endif %}
        {% if 'read offline purchase' in activities %}
          <a class="btn {% select 'offline' %}" href="{% url 'offlinepurchase' %}">Offline Purchases</a>
        {% endif %}
        {% if 'read purchased product' in activities %}
          <a class="btn {% select 'purchased/product' %}" href="{% url 'purchasedproduct' %}">Purchased Products</a>
        {% endif %}
        {% if 'read product' in activities %}
          <a class="btn {% select 'admin/product' ignore='group' %}" href="{% url 'product' %}">Products</a>
        {% endif %}
        {% if 'read grouping' in activities %}
          <a class="btn {% select 'group' %}" href="{% url 'productgrouping' %}">Groupings</a>
        {% endif %}
        <a class="btn {% select 'profile' %}" href="{% url 'companyprofile_add' %}">Company Profile</a>
        {% if 'read request' in activities %}
          <a class="btn {% select 'blocked-users' %}" href="{% url 'blocked_user_management' %}">Blocked Users</a>
        {% endif %}
    </div>
</div>
