{% extends "base-react-analytics.html" %}
{% load common_tags %}
{% load compress %}
{% load staticfiles %}

{% block site-title %}
    <title>My.jobs - Analytics - {{ company.name }} (beta)</title>
    <meta name="title" content="My.jobs - Analytics - {{ company.name }}">
{% endblock %}

{% block extra-js %}

{% if wp_base_url %}
  <script src="{{wp_base_url}}/analytics.js"></script>
{% else %}
  {% compress js %}
      <script src="{% static "bundle/analytics.js" %}"></script>
  {% endcompress %}
{% endif %}

{% endblock %}
