# Compiled
*.pyc
*.db
*.flv
*.wmv
*.gz

# Docker
dk2/dev/requirements.txt
dk2/revproxy/

# Misc
files/
reports/
static-files/100x50
static-files/content_profile
dev_*
.idea
CACHE
static/redirect.css

# Gulp stuff
gulp/node_modules/
gulp/profile.json
static/bundle/
static/custom.css

# Editor artifacts
*~
*-
*#
.project
.pydevproject
.tmp*
content_226
.coverage
*.swp
.ropeproject
tags

# Secret Stuff
secrets*

# Local Settings
local_settings.py
deploy/settings.local.py
*dev_settings*.py
*_settings.py

# Log Files
*.log
logfile
comparison_log/*.json

# OS generated
.DS_Store*
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.directory
*.settings
.directory
directseo

# Secret stuff. Shhhhh.
secret.py
secrets.py
newrelic.ini

local_settings.py
settings.py

# Deployment
static/admin/
static/django_extensions
static/endless_pagination
static/fsm
collected_static/
