{% extends "base.html" %}
{% load common_tags %}
{% load model_fields %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.get_full_name %}
        <title>{% if name_obj %}{{ name_obj }} on {% endif %}My.jobs</title>
        <meta name="title" content="{% if name_obj %}{{ name_obj }} on {% endif %}My.jobs">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block content %}
<div class="wrapper">
    <div class="row" id="profileTitleRow">
        <div class="span2">
            {% get_gravatar user '140' %}
        </div>
        <div class="span10" id="profileTitleBar">

            <h1>{% if user.get_full_name %}{{user.get_full_name}}{%else%}&nbsp;{%endif%}</h1>

            <h3>{{user.email}}</h3>
        </div>
        <div class="span10" id="profileSubtitleBar">
            <a href="{% url 'edit_account' %}">{% trans "Account Settings" %}</a>
        </div>
    </div>{# /profileTitleRow #}
    <div class="row">
        <div class="span8" id="moduleColumn">

            {% for module in profile_config.values %}

            {% with c_template=module.0|custom_template %}
                {% include "myprofile/profile_section.html" %}
            {% endwith %}

            {% endfor %}

        </div>
        <div class="span4">
            <div class="sidebar" id="moduleBank">
                <h2 class="top">Profile Completion</h2>
                <div class="pull-right">Your profile is <span id="highlight">{{user.profile_completion}}% complete</span></div><br>
                <div class="progress"><div class="bar bar-{% completion_level user.profile_completion%}"
                                           style="width: {{ user.profile_completion }}%"></div></div>
                <h2>Add a New Section</h2>
                <table class="table table-bordered tables-striped">
                {% for module in unit_names %}
                <tr class="profile-section" {% if module.items %}style="display:none;"{% endif %}><td>
                    <a id="{{module}}-new-section" href="{% url 'edit_summary' %}#/new?module={{ module }}">
                        {{ module }}
                    </a>
                </td></tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>{# /row #}
</div>{# /wrapper #}

{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}profile.153-10.js{{ gz }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".product-card:not(.no-highlight)").on("click", function() {
           window.location = $(this).find("a").attr("href");
        });
    });
</script>
{% endblock %}
