{% extends "base-react.html" %}
{% load compress %}
{% load staticfiles %}
{% load common_tags %}

{% block site-title %}
    <title>My.jobs - My Profile</title>
    <meta name="title" content="My.jobs - My Profile">
{% endblock %}

{% block meta-extra %}

<link rel="stylesheet" href="{{STATIC_URL}}font-awesome.css">

{% endblock %}

{% block content %}

<div id="content"></div>

{% endblock %}

{% block extra-js %}
{% autoescape off %}

{% endautoescape %}
<!--[if IE]>
<script src="{{ STATIC_URL }}es5-sham.min.js"></script>
<![endif]-->

{% js_bundle "myprofile" %}

{% endblock %}
