{% extends "base-new.html" %}

{% block site-title %}
    <title>My.jobs - {{ company.name }} - Non-User Outreach Inbox Management</title>
    <meta name="title" content="My.jobs - Non-User Outreach Inbox Management">
{% endblock %}

{% block meta-extra %}
<link rel="stylesheet" href="{{STATIC_URL}}font-awesome.css">
<style>
    .input-error {
        color: #900;
        margin-left:1px;
        text-shadow: 0 1px 0 #FFF;
        margin-bottom: 5px;
        height:1em;
    }
    .inbox-row {
        margin-bottom:1.5em;
    }

    .margin-top {
        margin-top:15px;
    }
</style>


{% endblock %}

{% block content %}

<div id="content"></div>

{% endblock %}

{% block extra-js %}
{% autoescape off %}

{% endautoescape %}
<!--[if IE]>
<script src="{{ STATIC_URL }}es5-sham.min.js"></script>
<![endif]-->


<script src="{{ STATIC_URL }}bundle/vendor.js"></script>
<script src="{{ STATIC_URL }}bundle/nonuseroutreach.js"></script>


{% endblock %}
