{% extends "base-react.html" %}
{% load common_tags %}
{% load compress %}
{% load staticfiles %}

{% block site-title %}
    <title>My.jobs - {{ company.name }} - Non-User Outreach Inbox Management</title>
    <meta name="title" content="My.jobs - Non-User Outreach Inbox Management">
{% endblock %}

{% block meta-extra %}
<!-- <link rel="stylesheet" href="{{STATIC_URL}}pickadate/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="{{STATIC_URL}}pickadate/themes/classic.date.css" id="theme_date"> -->
<link rel="stylesheet" href="{{STATIC_URL}}font-awesome.css">
<style>
    .input-error {
        color: #900;
        margin-left:1px;
        text-shadow: 0 1px 0 #FFF;
        margin-bottom: 5px;
        height:1em;
    }
    .inbox-row {
        margin-bottom:1.5em;
    }

    .margin-top {
        margin-top:15px;
    }
</style>
<!-- New ReactJS Shtuff-->
<!-- <script src="{{ STATIC_URL }}reactjs/react.js"></script>
<script src="{{ STATIC_URL }}reactjs/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->

{% endblock %}

{% block content %}

<div id="content"></div>

{% endblock %}

{% block extra-js %}
    {% autoescape off %}

    {% endautoescape %}
    <!--[if IE]>
    <script src="{{ STATIC_URL }}es5-sham.min.js"></script>
    <![endif]-->
    <!-- <script src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>

    <script src="{{ STATIC_URL }}pickadate/picker.js"></script>
    <script src="{{ STATIC_URL }}pickadate/picker.date.js"></script>
    <script src="{{ STATIC_URL }}pickadate/legacy.js"></script>
    SteelToe: https://github.com/jclem/steeltoe -->
    <!-- <script src="{{ STATIC_URL }}steeltoe.js"></script> -->


    {% if wp_base_url %}
      <script src="{{wp_base_url}}/nonuseroutreach.js"/></script>
    {% else %}
      {% compress js %}
      <script src="{% static "bundle/nonuseroutreach.js" %}"></script>
      {% endcompress %}
    {% endif %}

{% endblock %}
