{% extends 'base.html' %}

{% block content %}

    {% if new %}
        <p>You have successfully {% if access_request.accepted %}allowed{% else %}rejected{% endif %} the request submitted by {{ second_party_name }}.</p>
    {% else %}
        <p>This request has already been {% if access_request.accepted %}allowed{% else %}rejected{% endif %}.</p>
    {% endif %}
    <p>The requesting user has been notified.{% if access_request.accepted %} They will have two hours to make use of your account upon initiating this access.{% endif %}</p>

{% endblock %}