{% extends "base-react.html" %}
{% load i18n %}

{% block meta-extra %}
{% endblock meta-extra %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Request Company Access</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <form action="" method="post">
        {% include 'includes/form-error-highlight.html' %}
        {% csrf_token %}
        <div class="row">
          <div class="col-md-offset-4">
            <input type="submit" class="btn primary" value="Request Access">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <div class="sidebar">
        <h2 class="top">Tips</h2>
        Don't forget to write down your access code once it's generated.
      </div>
    </div>
  </div>
  {% if access_code %}
  <div class="row">
    <p>
      Your request has been submitted. A representative will be in contact 
      with your company shortly.
    </p>
    <p>
      Please write down the following code. You will need it to verify your
      request. <strong>This is the only time this code is displayed.</strong>
    </p>
    <p>{{ access_code }}</p>
  </div>
  {% endif %}
{% endblock content %}

