{% extends "myemails/email_base.html" %}

{% block content %}
{% include "myemails/includes/header.html" with title="Overview" %}

<div class="row">
    <div class="col-md-12 notice">

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Active Events</h3>
        <table class="table table-striped">
        {% for event in active_events %}
            <tr>
                <td>
                    <strong>{{ event.name }}</strong>

                    <div>
                        Template:
                        <span>{{ event.email_template.name }}</span>
                        <i class="fa fa-pencil edit-template-name"></i>
                    </div>
                    <div>
                        Last Sent: {{ event.last_sent }}
                    </div>
                </td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="View Template">
                            <i class="fa fa-eye fa-lg"></i>
                            <span class="hidden-xs hidden-sm">View</span>
                        </a>
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="Edit Template">
                            <i class="fa fa-pencil fa-lg"></i>
                            <span class="hidden-xs hidden-sm">Edit</span>
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    Currently there are no active events.
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Inactive Events</h3>
        <table class="table table-striped">
        {% for event in inactive_events %}
            <tr>
                <td>
                    <strong>{{ event.name }}</strong>
                    <div>
                        Template:
                        <span>{{ event.email_template.name }}</span>
                        <i class="fa fa-pencil edit-template-name"></i>
                    </div>
                    <div>
                        Last Sent: {{ event.last_sent }}
                    </div>
                </td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="View Template">
                            <i class="fa fa-eye fa-lg"></i>
                            <span class="hidden-xs hidden-sm">View</span>
                        </a>
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="Edit Template">
                            <i class="fa fa-pencil fa-lg"></i>
                            <span class="hidden-xs hidden-sm">Edit</span>
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    Currently there are no inactive events.
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}