{% extends "myemails/email_base.html" %}

{% block content %}

{% include "myemails/includes/header.html" with title="Manage Templates" %}

<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Jump to an Event
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for event in events %}
                    <li>
                        <a href="#">{{event.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% for event in events %}
<div class="row">
    <div class="col-md-12">
        <h3 id="{{event.name.lower}}" style="margin-bottom: 0;">{{event.name}}</h3>
        <p style="padding: 0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad assumenda atque consequatur delectus dicta ipsum iste laudantium maxime nesciunt qui rerum sunt, tenetur voluptas voluptates. Blanditiis delectus iure quasi.</p>
        <a class="awrap" href="">
            <div class="add-row">
                <i class="fa fa-plus-circle green"></i><span class="cta">Create a new template</span>
            </div>
        </a>
        <table class="table table-striped">
        {% for eh in "start" %}
            <tr>
                <td>
                    <span class="cell-title-lg">Template Name</span>
                    {% if eh.is_active %}<div class="label label-success">Active</div>{% endif %}
                </td>
                <td class="icon-column">
                    <div class="pull-right VEM-icons">
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="View Template">
                            <i class="fa fa-eye fa-lg"></i>
                            <span class="hidden-xs hidden-sm">View</span>
                        </a>
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="Edit Template">
                            <i class="fa fa-pencil fa-lg"></i>
                            <span class="hidden-xs hidden-sm">Edit</span>
                        </a>
                        <a class="btn btn-danger hidden-xs hidden-sm {% if eh.is_active %}disabled{%endif%}" href="" data-toggle="tooltip" data-placement="top" title="Delete Template" role="button">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                        <div class="dropdown visible-xs-inline-block visible-sm-inline-block">
                            <a class="btn btn-default m-btn-icon bs-tooltip" href="#"  data-toggle="dropdown" data-placement="top" title="More Options" aria-haspopup="true" aria-expanded="false" role="button">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="danger-item {% if eh.is_active %}disabled{%endif%}">
                                    <a data-toggle="modal" data-target="#delete-modal" data-id="{{ eh.id }}" role="button"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <span class="cell-title-lg">
                        Currently no templates have been made for this event. <a href="#">Create a template.</a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% if not forloop.first %}
<div class="pull-right back-to-top" style="font-size: 1.1em; color: #5a6d81; cursor: pointer; padding-right: 10px; margin-top: 2px;"><i class="fa fa-arrow-circle-up"></i> Back to top</div>
<div class="clearfix"></div>
{% endif %}

{% endfor %}

{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(function() {
        $('[data-toggle="tooltip"], .bs-tooltip').tooltip();
        $('[data-toggle="dropdown"]').dropdown();
    });
</script>
{% endblock %}
