{% extends "myemails/email_base.html" %}

{% block content %}
{% include "myemails/includes/header.html" with title="..." %}

<div class="row">
    <div class="col-md-12">
        <h3>Headers</h3>
        <a class="awrap" href="">
            <div class="add-row">
                <i class="fa fa-plus-circle green"></i><span class="cta">Create a new header</span>
            </div>
        </a>
        <table class="table table-striped">
            {% for header in headers %}
            <tr>
                <td>
                    <span class="cell-title-lg">{{ header.name }}</span>
                </td>
                <td class="icon-column">
                    <div class="pull-right VEM-icons">
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="View Header">
                            <i class="fa fa-eye fa-lg"></i>
                            <span class="hidden-xs hidden-sm">View</span>
                        </a>
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="Edit Header">
                            <i class="fa fa-pencil fa-lg"></i>
                            <span class="hidden-xs hidden-sm">Edit</span>
                        </a>
                        <a class="btn btn-danger hidden-xs hidden-sm" href="" data-toggle="tooltip" data-placement="top" title="Delete Header" role="button">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                        <div class="dropdown visible-xs-inline-block visible-sm-inline-block">
                            <a class="btn btn-default m-btn-icon bs-tooltip" href="#"  data-toggle="dropdown" data-placement="top" title="More Options" aria-haspopup="true" aria-expanded="false" role="button">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="danger-item">
                                    <a data-toggle="modal" data-target="#delete-modal" data-id="{{ header.id }}" role="button"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    <span class="cell-title-lg">
                        Currently no headers have been made. <a href="#">Create a header.</a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3>Footers</h3>
        <a class="awrap" href="">
            <div class="add-row">
                <i class="fa fa-plus-circle green"></i><span class="cta">Create a new footer</span>
            </div>
        </a>
        <table class="table table-striped">
            {% for footer in footers %}
            <tr>
                <td>
                    <span class="cell-title-lg">{{ footer.name }}</span>
                </td>
                <td class="icon-column">
                    <div class="pull-right VEM-icons">
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="View Header">
                            <i class="fa fa-eye fa-lg"></i>
                            <span class="hidden-xs hidden-sm">View</span>
                        </a>
                        <a class="btn btn-default m-btn-icon" href="#" data-toggle="tooltip" data-placement="top" title="Edit Header">
                            <i class="fa fa-pencil fa-lg"></i>
                            <span class="hidden-xs hidden-sm">Edit</span>
                        </a>
                        <a class="btn btn-danger hidden-xs hidden-sm" href="" data-toggle="tooltip" data-placement="top" title="Delete Header" role="button">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                        <div class="dropdown visible-xs-inline-block visible-sm-inline-block">
                            <a class="btn btn-default m-btn-icon bs-tooltip" href="#"  data-toggle="dropdown" data-placement="top" title="More Options" aria-haspopup="true" aria-expanded="false" role="button">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="danger-item">
                                    <a data-toggle="modal" data-target="#delete-modal" data-id="{{ header.id }}" role="button"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    <span class="cell-title-lg">
                        Currently no footers have been made. <a href="#">Create a footer.</a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="delete-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">Confirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <strong id="hf-name">Header Name</strong>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button">Delete</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(function() {
        $('[data-toggle="tooltip"], .bs-tooltip').tooltip();
        $('[data-toggle="dropdown"]').dropdown();
    });
</script>
{% endblock %}
