{% extends "seo_base_bootstrap3.html" %}
{% load seo_extras %}
{% load job_setup %}
{% load cache %}
{% cache 600 joblisting %}

{% block directseo_title %}
{% build_title site_title title_term location_term breadbox.company_breadcrumb.display_title results_heading %}
{% endblock %}
{# meta description only on homepage #}
{% block seo_description %}{% endblock %}
{% block directseo_bodySchema %}itemscope itemtype="http://schema.org/ItemCollection"{% endblock %}
{% block direct_extraHeaderContent %}
{%endblock%}

{% block rss_feed %}
<link rel="alternate" type="application/rss+xml" title="{% build_title site_title title_term location_term breadbox.company_breadcrumb.display_title results_heading %}" href="{{request.build_absolute_uri|build_rss_link}}">
{% endblock %}

{% block directseo_blurb %}
<div id="direct_blurbDiv">
    {% if facet_blurb_facet %}
        <h3>{{ facet_blurb_facet.name }}</h3>
        <div id="direct_blurbContents">
            <p>{{ facet_blurb_facet.blurb|safe }}</p>
        </div>
    {% else %}
    {% if site_config.defaultBlurbTitle %}<h3>{{site_config.defaultBlurbTitle}}</h3>{% endif %}
    <div id="direct_blurbContents">
        <p>{{site_config.defaultBlurb|safe}}</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block directseo_main_content %}
<h3 class="jobs-found direct_highlightedText">
{% if not count_heading %}
    All Jobs
{% else %}
    {% if breadbox.company_breadcrumb %}
        <span class="direct_jobListingCompany">{{ breadbox.company_breadcrumb.display_title }} Careers</span>
    {% endif %}
    Found {{ count_heading }}
{% endif %}
</h3>
{% include 'v2/includes/job_list.html' %}
{% endblock %}

{% block directseo_right_hand_column %}
<section class="mobile-search-criteria">
    <button id="mobile_search" class="mobile-search-btn">Filter Search Criteria</button>
</section>
<section class="mobile-search-facets">
{% if company %}
<div id="direct_companyModule" class="facets direct_rightColBox" role="menu">
  {% include 'v2/includes/company_module.html'%}
</div>
{% endif %}
{% if default_jobs or featured_jobs %}
    {% if "network" in site_tags or site_config.show_saved_search_widget %}
        {% if site_config.use_secure_blocks %}
        <div data-secure_block_id="saved_search"></div>
        {% else %}
        <div id="direct-saved-search-box" class="facets direct_rightColBox direct-action-box">
          <div class="email-box">
            <h3 class="get-email-title">Save &amp; Email this search</h3>
            <div id="de-myjobs-widget"></div>
          </div>
        </div>
        {% endif %}
    {% endif %}
    <a name="filters"></a>

{% endif %}
<div id="direct_disambiguationDiv" class="facets direct_rightColBox" role="menu">
  <div class="filter-box">
    {# If clear_breadcrumb exists, we know at least one search term that can be removed has been applied, so include the breadbox #}
    {% if default_jobs or featured_jobs %}
        {% include 'v2/includes/seo_sort.html' %}
        {% for widget in widgets %}
            {% if widget.render %}
                {{ widget.render }}
            {% endif %}
        {% endfor %}
    {% endif %}
  </div>
</div>
</section>
{% endblock %}

{% block directseo_mobile_facets %}
<div class="mobile-search-criteria">
  <a id="mobile_search" class="mobile-search-btn" href="#/">Filter Search Criteria</a>
</div>
<div class="mobile-search-facets">
<div id="mobile_direct_disambiguationDiv" class="mobile-facets direct_rightColBox" role="menu">
  <div class="filter-box">
    {# If clear_breadcrumb exists, we know at least one search term that can be removed has been applied, so include the breadbox #}
    {% if default_jobs or featured_jobs %}
        {% include 'v2/includes/seo_sort.html' %}
        {% for widget in widgets %}
            {% if widget.render %}
                {{ widget.render }}
            {% endif %}
        {% endfor %}
    {% endif %}
  </div>
</div>
</div>
{% endblock %}

{% block mobile_directseo_save_email %}
{% if default_jobs or featured_jobs %}
    {% if "network" in site_tags or site_config.show_saved_search_widget %}
        {% if site_config.use_secure_blocks %}
        <div data-secure_block_id="saved_search"></div>
        {% else %}
        <div id="mobile_direct-saved-search-box" class="direct_rightColBox direct-action-box">
          <div class="email-box">
            <h3 class="get-email-title">Save &amp; Email this search</h3>
            <div id="mobile-de-myjobs-widget"></div>
          </div>
        </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
{% block extra-js %}
    <script type="text/javascript">
        var analytics_info = {{ analytics_info|safe }};
    </script>
    <script id="detrack" defer src="https://d2e48ltfsb5exy.cloudfront.net/t/t.js?i=0,3,6"></script>
{% endblock extra-js %}
{% block scrollJS %}
  <script>
    window.onload = function() {
      var resultsDIV = $("#direct_listingDiv");
      var viewPort = $(window).width();
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || viewPort < 992 ) {
        $('html, body').animate({
          scrollTop: $(resultsDIV).offset().top - 115
        }, 100);
      }
    };
  </script>
{% endblock %}
{% endcache %}
