{% extends "seo_base_bootstrap3.html" %}
{% load seo_extras %}
{% load redirect_urls %}
{% comment %}
    TODO: Research consequences of removing def.ui.dotjobs.results.css and then remove it.
    TODO: Make this view more html5 semantic instead of nested div
{% endcomment %}
{% block direct_extraHeaderContent %}
<link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">

<title>{{ the_job.title}}</title>
{%endblock%}

{% block direct_extraMetaOpenGraph %}
    <meta property="og:title" content="{{ pg_title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{request.build_absolute_uri}}"/>
    <meta property="og:image" content="{% firstof og_img company.image %}"/>
    <meta property="og:site_name" content="{{site_title}}"/>
{% endblock %}

{% block directseo_title %}
{{site_title}} - {{ pg_title }}
{% endblock %}
{% block seo_description %}{% endblock %}
{% block directseo_bodySchema %}itemscope itemtype="http://schema.org/ItemPage"{% endblock %}
{% block directseo_primary_navigation %}{% endblock %}
{% block directseo_main_content %}

<div class="job-description-section" itemscope itemtype="http://schema.org/JobPosting" role="main">
    {% if site_commitments_string %}
    <meta itemprop="specialCommitments" content="{{site_commitments_string}}" />
    {% endif %}
    <meta itemprop="employmentType" content="Paid Work" />
    <div id="direct_jobListingTitle">
        <h3>
          <span class="direct-detail-jobListingCompany" itemprop="hiringOrganization"
            itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">{{the_job.company}}</span>
          </span>
          <span class="direct-detail-highlightedText">
            <span itemprop="title">{{ the_job.title|cut:"?"|cut:"~" }}</span> in
            <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
              {% spaceless %}
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  {% if the_job.state %}
                    {% if the_job.city %}<span itemprop="addressLocality">{{ the_job.city }}</span>, {% endif %}<span itemprop="addressRegion">{{ the_job.state }}</span>
                  {% else %}
                    {% if the_job.city %}
                        <span itemprop="addressLocality">{{ the_job.city }}</span>,
                    {% endif %}
                  {% endif %}
                  {% is_special_case the_job as special_case %}
                  {% if special_case %}
                      <meta itemprop="addressCountry" content="{{ the_job.country }}" />
                  {% else %}
                      {% if the_job.country %}
                          <span itemprop="addressCountry">{{ the_job.country }}</span>
                      {% endif %}
                  {% endif %}
              </span>
              {% endspaceless %}
            </span>
          </span>
        </h3>
    </div>
    <div id="direct_listingDiv">
        <meta itemprop="datePosted" content="{{the_job.date_updated|date:'c'}}"/>
        <div class='direct-action-btn' id="direct_applyButtonBottom">
            {% if the_job.link %}
            <a class="apply btn btn-success" href="{{the_job.link|swap_http_with_https:"my.jobs"}}" onclick="goalClick('/G/apply-click', this.href); return false;">Apply Now</a>
            {% elif the_job.apply_info %}
            <div id="apply-block">{{ the_job.apply_info }}</div>
            {% endif %}
        </div>
        <div id="direct_jobDescriptionText" itemprop="description">
            {% if the_job.html_description %}
                {{ the_job.html_description|safe|cut:"??"|cut:"~" }}
            {% else %}
                {{ the_job.description|safe|linebreaks|cut:"??"|cut:"~" }}
            {% endif %}
            <meta name="de-buid" content="{{the_job.buid.id}}"/>
            <meta name="de-buid-associated-jobs" content="{{the_job.buid.associated_jobs}}"/>
            <meta name="de-buid-title" content="{{the_job.buid.title}}"/>
            <meta name="de-buid-date-crawled" content="{{the_job.buid.date_crawled|date:'c'}}"/>
            <meta name="de-buid-date-updated" content="{{the_job.buid.date_updated|date:'c'}}"/>
            <meta name="de-special-commits" content="{% for commitment in site_commitments.all %}{{commitment.commit}} {% endfor %}"/>
            <meta name="de-buid-title-slug" content="{{the_job.buid.title_slug}}"/>
        </div>
        <div class='direct-action-btn' id="direct_applyButtonBottom">
            {% if the_job.link %}
            <a class="apply btn btn-success" href="{{the_job.link|swap_http_with_https:"my.jobs"}}" onclick="goalClick('/G/apply-click', this.href); return false;">Apply Now</a>
            {% elif the_job.apply_info %}
            <div id="apply-block">{{ the_job.apply_info }}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block directseo_right_hand_column %}
<section class="mobile-search-facets">
{% if company %}
<div id="direct_companyModule" class="direct_rightColBox" role="menu">
  {% include 'v2/includes/company_module.html'%}
</div>
{% endif %}
</section>
{% endblock %}
{% block extra-js %}
    <script>
        $(document).ready(function(){RetrieveExternalCampaignCookie();});
    </script>
    <script id="detrack" defer src="https://d2e48ltfsb5exy.cloudfront.net/t/t.js?i=0,1,6"></script>
{% endblock %}
