{% load common_tags %}
<div id="posting-nav">
    <ul id="ul-posting-nav">
        {% can user company "read product" as can_read_product %}
        {% if can_read_product %}
        <li id="product-listing" class="{% if request.resolver_match.url_name == 'product_listing' %}active{% endif %}"><a href="{% url 'product_listing' %}">Product Listing</a></li>
        {% endif %}
        {% can user company "create job" as can_create_job %}
        {% if can_create_job %}
        <li id="our-postings" class="{% if request.resolver_match.url_name == 'jobs_overview' %}active{% endif %}"><a href="{% url 'jobs_overview' %}">Posted Jobs</a></li>
        {% endif %}
        {% if company.purchasedproduct_set.exists %}
        <li id="purchased-products" class="{% if request.resolver_match.url_name == 'purchasedproducts_overview' %}active{% endif %}"><a href="{% url 'purchasedproducts_overview' %}">Purchased Jobs</a></li>
        {% endif %}
        {% if can_read_product %}
        <li id="posting-admin" class="{% if request.resolver_match.url_name == 'purchasedmicrosite_admin_overview' %}active{% endif %}"><a href="{% url 'purchasedmicrosite_admin_overview' %}">Partner Microsite</a></li>
        {% endif %}
    </ul>
    <div class="clearfix"></div>
</div>
