<section id="city_filter">
  <div class="city-filter-box">
    <h3 class="filter-accordion">City</h3>
    <div class="filter-panel">
      <div class="city-showing">
        <p class="city-title-filter"><a href="#">Chattanooga, TN</a></p>
      </div>
      <div class="city-showing">
        <p class="city-title-filter"><a href="#">Indianapolis, IN</a></p>
      </div>
      <div class="city-showing">
        <p class="city-title-filter"><a href="#">New York, NY</a></p>
      </div>
      <div class="city-showing">
        <p class="city-title-filter"><a href="#">Denver, CO</a></p>
      </div>
      <div class="city-showing">
        <p class="city-title-filter"><a href="#">Chicago, IL</a></p>
      </div>
    </div>
  </div>
</section>
