<section id="company_filter">
  <div class="company-filter-box">
    <h3 class="filter-accordion">Company</h3>
    <div class="filter-panel">
      <div class="company-showing">
        <p class="company-filter-title"><a href="#">WordMakers</a></p>
        <span class="company-job-count">512</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">ListenUP</a></p>
        <span class="company-job-count">1734</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">Ball Lightning</a></p>
        <span class="company-job-count">4170</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">The Cloven Hoof</a></p>
        <span class="company-job-count">620</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">Mr. Green</a></p>
        <span class="company-job-count">1173</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">Digitalgen</a></p>
        <span class="company-job-count">735</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">XOR Groceteria</a></p>
        <span class="company-job-count">6156</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">Building Blocks</a></p>
        <span class="company-job-count">1436</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">Chaucer's Farm</a></p>
        <span class="company-job-count">2050</span>
        <div class="clearfix"></div>
      </div>

      <div class="company-showing">
        <p class="company-filter-title"><a href="#">Kyagora</a></p>
        <span class="company-job-count">4492</span>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</section>
