<section id="title_filter">
  <div class="title-filter-box">
    <h3 class="filter-accordion">Title</h3>
    <div class="filter-panel">
      <div class="title-showing">
        <p class="title-filter-title"><a href="#">Teacher</a></p>
        <span class="title-count">4</span>
        <div class="clearfix"></div>
      </div>
      <div class="title-showing">
        <p class="title-filter-title"><a href="#">Developer</a></p>
        <span class="title-count">12</span>
        <div class="clearfix"></div>
      </div>
      <div class="title-showing">
        <p class="title-filter-title"><a href="#">Nurse</a></p>
        <span class="title-count">22</span>
        <div class="clearfix"></div>
      </div>
      <div class="title-showing">
        <p class="title-filter-title"><a href="#">Carpenter</a></p>
        <span class="title-count">2</span>
        <div class="clearfix"></div>
      </div>
      <div class="title-showing">
        <p class="title-filter-title"><a href="#">Driver</a></p>
        <span class="title-count">30</span>
        <div class="clearfix"></div>
      </div>

      <span class="show-all-titles-filter pull-right">(show all)</span>
      <span class="show-less-titles-filter pull-right hidden">(show less)</span>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
