<section id="top_search_filter">
  <div class="top-search-filter-box">
    <h3 class="filter-accordion">Top Searches</h3>
    <div class="filter-panel">
      <div class="top-search-showing">
        <p class="top-search-filter-title"><a href="#">Teacher</a></p>
        <span class="top-search-count">20</span>
        <div class="clearfix"></div>
      </div>
      <div class="top-search-showing">
        <p class="top-search-filter-title"><a href="#">Web Developer</a></p>
        <span class="top-search-count">55</span>
        <div class="clearfix"></div>
      </div>
      <div class="top-search-showing">
        <p class="top-search-filter-title"><a href="#">Software Engineer</a></p>
        <span class="top-search-count">48</span>
        <div class="clearfix"></div>
      </div>
      <div class="top-search-showing">
        <p class="top-search-filter-title"><a href="#">Registered Nurse</a></p>
        <span class="top-search-count">45</span>
        <div class="clearfix"></div>
      </div>
      <div class="top-search-showing">
        <p class="top-search-filter-title"><a href="#">Truck Driver</a></p>
        <span class="top-search-count">32</span>
        <div class="clearfix"></div>
      </div>

      <span class="yes show-all-top-search-filter pull-right">(show all)</span>
      <span class="show-less-top-search-filter pull-right hidden">(show less)</span>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
