{% load i18n %}
{% load common_tags %}
{% load staticfiles %}
{% load compress %}

{% if request.GET.callback %}
  {% compress css %}
    <link href="{% static "topbar.directseo.css" %}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% else %}
  {% compress css %}
    <link href="{% static "topbar.myjobs.css" %}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endif %}

<div class="topbar{{ topbar_class }}" data-dropdown="dropdown" role="menubar">
    <div class="topbar-inner">
        <div id="de-topbar-content" class="wrapper">
            <div id="logo-block" class="de-topbar-item">
                <a id="anchor-logo" href="http://www.my.jobs/">
                    <h3 id="topbar-logo">My.jobs</h3>
                </a>
            </div>

            {% get_ms_name as last_microsite_name %}
            {% if current_microsite_name or last_microsite_name %}
            <div id="last-microsite" class="de-topbar-item">
                <a href="{% if current_microsite_url %}{{current_microsite_url}}
                        {% else %}{% get_ms_url %}{% endif %}">
                    <span id="last-microsite-name">
                        {% firstof current_microsite_name last_microsite_name %}
                    </span>
                    <span class="arrow pull-left"></span>
                </a>
            </div>
            {% endif %}

            {% get_menus as menus %}
            <div class="menu-container" role="menu">
                {% if user.is_authenticated and request.session.keys|length %}
                <ul class="mobile_hide">
                  {% for menu in menus %}
                    <li {% if menu.submenus %}class="has-drop"{% endif %}>
                      <a id="{{ menu.id }}">{% firstof menu.iconLabel menu.label %}{% if menu.icon %}<div class="{{ menu.icon }}"></div>{% endif %}</a>
                      <ul class="submenu" id="{{ menu.submenuId }}">
                        {% for submenu in menu.submenus %}
                          <li id="{{ submenu.id }}">
                            <a href="{{ submenu.href }}">{{ submenu.label }}</a>
                          </li>
                        {% endfor %}
                        </ul>
                    </li>
                  {% endfor %}
                    {% is_a_group_member company user "Employer" as group_member %}
                    {% get_company_name user as company_name %}
                </ul>

                <div id="" class="menu-bar desktop_hide" style="text-align: right;">
                  <ul id="nav">
                    <li>
                      <a class="main-nav"></a>
                      <ul class="{% firstof pop_menu_class "span4" %}" id="pop-menu">
                        <li id="back-btn-li" class="no-show"><a id="back-btn"><span class="arrow-left"></span></a></li>
                          <ul class="no-show" id="company-name-menu"></ul>
                          {% for menu in menus %}
                          <li class="nav-item"><a id="{{ menu.id }}-mobile">{{ menu.label }}</a></li>
                            {% for submenu in menu.submenus %}
                            <li class="no-show sub-nav-item">
                              <a href="{{ submenu.href }}">{{ submenu.label }}</a>
                            </li>
                            {% endfor %}
                          {% endfor %}
                      </ul>{# /pop-menu #}
                    </li>
                  </ul>{# /nav #}
                </div>{# /menu-bar pagination-right pull-right #}
                {% else %}
                    {# MOBILE VIEW #}
                    <ul class="mobile_hide">
                        <li><a href="http://www.my.jobs/employers/">{% trans "Employers / Post Jobs" %}</a></li>
                        <li><a href="{{ ABSOLUTE_URL }}">{% trans 'Create Account / Log In' %}</a></li>
                    </ul>
                    <div id="" class="menu-bar desktop_hide" style="text-align: right;">
                        <ul id="nav">
                            <li>
                                <a class="main-nav"></a>
                                <ul id="pop-menu">
                                    <li><a id="demo-link" class="no-show" href="http://www.my.jobs/employers/">{% trans "Employers / Post Jobs" %}</a></li>
                                    <li><a id="login-link" class="no-show" href="{{ ABSOLUTE_URL }}">{% trans 'Create Account / Log In' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if group_member and company_name|length > 1 %}
{% json_companies company_name as companies %}
<script>
    var tools_companies = {{ companies|safe }};
</script>
{% endif %}
{% compress js %}
<script defer src="{% static "topbar.js" %}" type="text/javascript"></script>
{% endcompress %}
