{% extends 'mypartners/email/email_base.html' %}
{% block content %}

{{to_email}},

We have received your submission to {{bucket}}@my.jobs. Your email will be reviewed by the {{company.name}} partner outreach team, which will contact you if they have any questions.<br />

Thank you for contributing to the outreach efforts of {{company.name}}.

Sincerely,
{{company.name}} Partner Outreach Team

Please note: this inbox is not monitored and replies will not receive a response.
{% endblock %}

{% block footer-right %}

{% endblock %}
