{% extends "base.html" %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>Non-User Outreach Inbox Management {{ company.name }}</title>
        <meta name="title" content="Non-User Outreach Inbox Management {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<style>
    .email-input {
        min-width:60%;
    }

    .delete-label {
        display:inline;
    }

    @media all and (max-width: 500px) {
        #inbox-form input[type='checkbox'] {
            float:right;
            height:auto;
        }
    }
</style>
{% endblock %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Non-User Outreach Inbox Management" back_to="Back to Partner Relationship Manager" back_to_url="prm" %}
    <div class="row">
        <div class="span8">
            <form method="post" action="{% url 'manage_outreach_inboxes' %}" id="inbox-form">
                {{formset.management_form}}
                {% csrf_token %}
                {% for form in formset %}
                <div class="card-wrapper">
                    <div class="wrapper-header">
                        <strong>{% if not form.initial %}New{% else%}Existing{% endif %} Outreach Email Inbox</strong>
                    </div>


                    <div class="product-card no-highlight">
                        {% if form.email.errors %}
                            <span class="required">
                            <div class="error-box">
                            </div>
                            {% for error in form.email.errors %}
                                <div class="error-text">* {{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="input-append">
                            <input id="{{form.email.id_for_label}}" maxlength="{{form.email.field.max_length}}"
                                   name="{{form.email.html_name}}" type="email" class="email-input"
                                   value="{{form.email.value|default:''}}"></input>
                            <span class="add-on">@my.jobs</span>
                        </div>
                            {% if form.email.errors %}
                                <i>Note: Only provide the portion of the email to the left of the "@".</i>
                            </span>
                            {% endif %}
                        {{ form.id }}
                    </div>
                    <div class="wrapper-footer">
                        {% if form.initial %}
                        <div class="pull-right"><label for="{{form.DELETE.id_for_label}}" class="delete-label">Delete</label> {{ form.DELETE }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>

        <div class="span4">
            <div class="sidebar">
                <div>
                    <h2 class="top">Tips</h2>
                    Use this module to manage your non-user outreach email inboxes. Your members can use these inbox addresses to send records of employment outreach efforts.
                    <br  /><br  />
                    Click "Save" to add additional inbox addresses
                </div>
                <div class="navigation">
                    <h2>Navigation</h2>
                    <a class="btn" onclick="document.getElementById('inbox-form').submit();">Save</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}