{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>Non-User Outreach Inbox Management {{ company.name }}</title>
        <meta name="title" content="Non-User Outreach Inbox Management {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<link href="{{ STATIC_URL }}jquery.tagit.css" rel="stylesheet" type="text/css">
<style>
    .email-input {
        max-width:35em;
        width:60%;
    }

    .errorlist li {
        color:red;
    }

    @media all and (max-width: 500px) {
        #inbox-form input[type='checkbox'] {
            float:right;
            height:auto;
        }
    }
</style>
{% endblock %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Non-User Outreach Inbox Management" back_to="Back to Partner Relationship Manager" back_to_url="prm" %}
    <div class="row">
        <div class="span8">
            <form method="post" action="{% url 'manage_outreach_inboxes' %}" id="inbox-form">
                {{formset.management_form}}
                {% csrf_token %}
                {% for form in formset %}
                <div class="card-wrapper">
                    {% if not form.initial %}
                    <div class="wrapper-header">
                        <strong>New Outreach Email Inbox</strong>
                    </div>
                    {% endif %}
                    <div class="product-card no-highlight">
                        <label for="{{form.email.id_for_label">Email:</label>
                        <div class="input-append">
                            <input id="{{form.email.id_for_label}}" maxlength="{{form.email.field.max_length}}"
                                   name="{{form.email.html_name}}" type="email" class="email-input"
                                   value="{{form.email.value|default:''}}"></input>
                            <span class="add-on">@my.jobs</span>
                        </div>
                        {{ form.id }}
                        <span>
                        {{ form.non_field_errors }}
                        {{ form.email.errors }}
                        </span>
                    </div>
                    <div class="wrapper-footer">
                        {% if form.initial %}
                        <div class="pull-right">Delete {{ form.DELETE }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>

        <div class="span4">
            <div class="sidebar">
                <div>
                    <h2 class="top">Tips</h2>
                    Use this module to manage your non-user outreach email inboxes. Your members can use these inbox addresses to send records of employment outreach efforts.
                    <br  /><br  />
                    Click "Save" to add additional inbox addresses
                </div>
                <div class="navigation">
                    <h2></h2>
                    <a class="btn" onclick="document.getElementById('inbox-form').submit();">Save</a>
                    <!--<a class="btn" onclick="location.reload()">Clear Changes</a>-->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra-js %}
<script src="{{ STATIC_URL }}tag-it.min.js{{ gz }}"></script>
<!--<script src="{{ STATIC_URL }}partner_tagging.156-09.js{{ gz }}"></script>-->
{% endblock %}