{% extends "postajob/posting_base.html" %}
{% load i18n %}
{% load postajob_tags %}
{% load compress %}
{% load static %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv">
  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>Title</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{{ object.title }}</div>
  </div>

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>Posting Company</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{{ object.owner.name }}</div>
  </div>

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>Posting User</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{% if object.created_by %}{{ object.created_by.email }}{% else %}User deleted{% endif %}</div>
  </div>

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>Requisition ID</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{{ object.reqid }}</div>
  </div>

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>Description</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{{ object.description }}</div>
  </div>

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>City</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{{ object.city }}</div>
  </div>

    {% if object.state %}
    <div class="row">
      <div class="span3 form-label pull-left purchasedjob-request-label"><b>State</b></div>
      <div class="span5 profile-form-input purchasedjob-request-field">{{ object.state }}</div>
    </div>
    {% endif %}

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>Country</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{{ object.country }}</div>
  </div>

    {% if object.zipcode %}
      <div class="row">
        <div class="span3 form-label pull-left purchasedjob-request-label"><b>Zip Code</b></div>
        <div class="span5 profile-form-input purchasedjob-request-field">{{ object.zipcode }}</div>
      </div>
    {% endif %}

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>Expires On</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{{ object.date_expired }}</div>
  </div>

    {% if object.apply_link %}
      <div class="row">
        <div class="span3 form-label pull-left purchasedjob-request-label"><b>Application Link</b></div>
        <div class="span5 profile-form-input purchasedjob-request-field">{{ object.apply_link }}</div>
      </div>
    {% else %}
      <div class="row">
        <div class="span3 form-label pull-left purchasedjob-request-label"><b>Application Instructions</b></div>
        <div class="span5 profile-form-input purchasedjob-request-field">{{ object.apply_info }}</div>
      </div>
    {% endif %}

  <div class="row">
    <div class="span3 form-label pull-left purchasedjob-request-label"><b>On Sites</b></div>
    <div class="span5 profile-form-input purchasedjob-request-field">{% get_job_links object max_sites=None %}</div>
  </div>

    {% if request_obj.deny_reason %}
      <div class="row">
        <div class="span3 form-label pull-left purchasedjob-request-label"><b>Reason for Rejection</b></div>
        <div class="span5 profile-form-input purchasedjob-request-field">{{ request_obj.deny_reason }}</div>
      </div>
    {% endif %}

  {% if not request_obj.action_taken %}
    {% if not object.is_approved %}
    <div class="clearfix"></div>
      <form action="{% url 'approve_admin_request' pk=request_obj.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn primary pull-right">{% trans 'Approve This Job' %}</button>
      </form>
      <div class="clear"></div>
      <button id="deny" type="button" data-toggle="modal" data-target="#deny-confirm" class="btn primary pull-right" style="margin-right: 10px;">{% trans 'Deny This Job' %}</button>
      <div id="deny-confirm" class="modal hide fade">
        <div class="modal-header">{% trans 'Really Deny?' %}</div>
        <form action="{% url 'deny_admin_request' pk=request_obj.pk %}" method="post">
          <div class="modal-body"><p>{% blocktrans %}Are you sure you want to deny this job posting?{% endblocktrans %}</p>
              {% csrf_token %}
              <p>Why is this request being denied?</p>
              <div class="clear"></div>
              <input type="text" id="deny-reason" name="deny-reason" />
              <div class="clear"></div>
          </div>
          <div class="modal-footer">
            <div class="actions">
              <button id="deny-reason-button" type="submit" class="btn primary pull-right" disabled="disabled">{% trans 'Deny This Job' %}</button>
              <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
              <div class="clear"></div>
            </div>
          </div>
        </form>
      </div>
      {% if object.created_by %}
      <button id="block" type="button" data-toggle="modal" data-target="#block-confirm" class="btn primary pull-right" style="margin-right: 10px;">{% trans 'Block Submissions From User' %}</button>
      <div id="block-confirm" class="modal hide fade">
        <div class="modal-header">{% trans 'Really Block?' %}</div>
        <form action="{% url 'block_admin_request' pk=request_obj.pk %}" method="post">
          <div class="modal-body"><p>{% blocktrans %}Are you sure you want to block this user from posting further jobs?{% endblocktrans %}</p>
              {% csrf_token %}
              <p>Why is this request being denied?</p>
              <div class="clear"></div>
              <input type="text" id="block-reason" name="block-reason" />
              <div class="clear"></div>
          </div>
          <div class="modal-footer">
            <div class="actions">
              <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
              <button id="block-reason-button" type="submit" class="btn primary pull-right" disabled="disabled">{% trans 'Block Submissions From User' %}</button>
              <div class="clear"></div>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
<div class="direct_rightColBox">
    {% include "postajob/includes/postajob_navigation.html" %}
</div>
<div class="clearfix"></div>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}postajob.173-18.js"></script>
{% endblock %}
