{% load i18n %}

{% for item in module %}
<div class="product-card" id="{{item.get_model_name}}-{{item.id}}-item">
    <div class="big-title">
        {{ item.label }}
    </div>
    <div class="product-details">
        {{ item.address_line_one }}

        {% if item.address_line_two %}

        {{ item.address_line_two }}

        {% endif %}
    </div>
    {% if item.city_name or item.country_sub_division_code or item.postal_code %}
    <div class="product-details">
        {{ item.city_name }}{% if item.country_sub_division_code %}{% if item.city_name%},{% endif %} {{ item.country_sub_division_code }}{% endif %}{% if item.postal_code %}, {{ item.postal_code }}{% endif %}
    </div>
    {% endif %}
    <a class="btn" href="{% url 'handle_form' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Edit' %}</a>
</div>
{% endfor %}
