{% load i18n %}
{% for item in module %}
<div class="product-card" id="{{item.get_model_name}}-{{item.id}}-item">
    <div class="big-title">
        {{item.get_education_level_code_display}} - {{item.degree_major}}
    </div>
    {% if item.organization_name %}
    <div class="sub-title">
        {{ item.organization_name }}
    </div>
    {% endif %}
    {% if item.degree_date %}
    <div class="product-details">
        Graduated on {{ item.degree_date }}
    </div>
    {% endif %}
    {% if item.degree_major %}
    <div class="product-details">
        Majored in {{ item.degree_name }} {{ item.degree_major }}
    </div>
    {% endif %}
    {% if item.degree_minor %}
    <div class="product-details">
        Minored in {{ item.degree_minor }}
    </div>
    {% endif %}
    <a class="btn" href="{% url 'handle_form' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Edit' %}</a>
</div>
{% endfor %}
