{% load i18n %}

{% for item in module %}
<div class="product-card">
    <div class="big-title">
        {{ item.use_code }}
    </div>
    <div class="product-details">
        {# One liner because django likes to add spaces if there are more than one line. #}
        {% if item.country_dialing %}{{ item.country_dialing }}-{% endif %}{% if item.area_dialing %}{{ item.area_dialing }}-{% endif %}{{ item.number }}

        {% if item.extension %}

        Ext. {{ item.extension }}

        {% endif %}
    </div>
    <a class="btn" href="{% url 'handle_form' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Edit' %}</a>
</div>
{% endfor %}
