{% load i18n %}

{% for item in module %}
<div class="product-card">
    <div class="big-title">
        {{ item.display_text }}
    </div>
    <div class="product-details">
        <a href="{{ item.uri }}" target="_blank">{{ item.uri }}</a>
    </div>
    {% if item.description %}
    <div class="product-details">
        {{ item.description }}
    </div>
    {% endif %}
    <a class="btn" href="{% url 'handle_form' %}?id={{ item.id }}&module={{ item.get_verbose.title }}">{% trans 'Edit' %}</a>
</div>
{% endfor %}
