{% extends "base-react.html" %}
{% load common_tags %}
{% load compress %}
{% load staticfiles %}

{% block site-title %}
    <title>My.jobs - {{ company.name }} - Manage Users</title>
    <meta name="title" content="My.jobs - Manage Users">
{% endblock %}

{% block meta-extra %}
    <link rel="stylesheet" href="{{STATIC_URL}}font-awesome.css">
{% endblock %}

{% block extra-js %}
    {% autoescape off %}

    {% endautoescape %}
    <!--[if IE]>
        <script src="{{ STATIC_URL }}es5-sham.min.js"></script>
    <![endif]-->

    {% if wp_base_url %}
      <script src="{{wp_base_url}}/manageusers.js"/></script>
    {% else %}
      {% compress js %}
          <script src="{% static "bundle/manageusers.js" %}"></script>
      {% endcompress %}
    {% endif %}
{% endblock %}
