// Media Queries
$tablet-traditional-width: 767px;
$tablet-wide-width: 992px;
$desktop-narrow-width: 992px;

// TODO: find an elegant way to do this
$label-special-case: 768px;

@mixin label-special {
  @media screen and (min-width: #{$label-special-case}) {
    @content;
  }
}

@mixin tablet-traditional {
  @media screen and (max-width: #{$tablet-traditional-width}) {
    @content;
  }
}

@mixin tablet-wide {
  @media screen and (max-width: #{$tablet-wide-width}) {
    @content;
  }
}

@mixin desktop-narrow {
  @media screen and (min-width: #{$desktop-narrow-width}) {
    @content;
  }
}

@include label-special {
  .row .col-md-4 label {
    line-height: 33px;
    text-align: right;
    font-weight: normal;
  }
}

@include tablet-traditional {

  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
    word-wrap: break-word;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    width: 10%;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /* Label the data */
  #no-more-tables td:before {
    content: attr(data-title);
  }
}

@include tablet-wide {
  .topbar-inner {
    height: 70px !important;
  }
  #nav .main-nav {
    height: 50px !important;
    width: 50px !important;
  }
  /* New Topbar based on Bootstrap 3 */
  .topbar-new #logged-in-li {
    height: 33px !important;
    font-size: 2em !important;
  }
  .topbar-new #nav ul#pop-menu li.sub-nav-item a,
  .topbar-new #nav ul#pop-menu li.nav-item a,
  .topbar-new #nav ul#pop-menu li#mobile-company-select a {
    height: 45px;
  }
}

@include desktop-narrow {
  .topbar-inner {
    height: 30px !important;
  }

  .modal.fade .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

}