/*GLOBAL STYLES FOR THE PAGE*/

$primary-gray: #f7f7f7;
$dark-gray: #3f3f3f;
$medium-gray: #777777;
$medium-light-gray: #797979;
$light-gray: #b3b3b3;
$faded-gray: #a7a7a7;
$btn-gray: #2c2c2c;
$black: #000000;
$white: #ffffff;

*:focus {
  outline: 0;
}
*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  color: #777;
}
a:hover {
  text-decoration: none;
}
legend{
  border-bottom: none;
}

/*SASS EXTEND/INHERITANCE STYLES*/

@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}
@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}
.gray-section-boxes {
  border: 1px solid #666666;
  background-color: $primary-gray;
  margin-bottom: 30px;
  border-radius: 3px;
}
.facet-header {
  background-color: #FFF;
  border: 1px solid #d5d4d0;
  padding: 10px 15px;
  margin: 0px -15px;
  box-shadow: 2px 2px 3px #BBB;
}
.search-input-boxes {
  width: 350px;
  height: 35px;
  @include box-shadow(0px 0px 5px 0px rgba(194,194,194,1));
}
.main-search-labels {
  text-align: left;
  font-size: 22px;
  font-weight: 200;
}
.global-btn {
  background-color: $btn-gray;
  color: $white;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  font-weight: 100;
}

/*MAIN NAVIGATION HEADER STYLES*/
#main_nav {
  margin-bottom: 75px;

  .left-logo{
    padding-top: 8px;
    float: left;


    .header-logo {
      height: 30px;
      width: 60px;
      position: relative;
      bottom: 2px;
      -webkit-filter: invert(50%);
      filter: invert(50%);
    }
  }
  .main-nav {
    height: 42px;

  .dropdown-menu {
      padding: 0;
      width: 250px;
      max-width: 250px;
      box-shadow: 0 0px 5px rgba(0,0,0,0.15);
    }
  }
  .my-jobs-logo {
    font-size: 24px;
    font-weight: bold;
    color: #757575;
  }
  .navbar-nav.navbar-right.right-nav {
    float: right;
    margin-top: 7px;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 200;
    }
    .dropdown {
     li {
       font-size: 20px;
       border-bottom: 1px solid #3F3F3F;
     }
     a {
       font-size: 20px;
     }
     .dropdown-menu {
       a {
         font-size: 14px;
       }
     }
   }
  }
}
/*ENTIRE PAGE CONTENT STYLES (EXCLUDING THE NAVIGATION)*/
#page_content {
  margin: 0 auto;
  max-width: 1460px;
}
/*BRAND LOGO STYLES*/
#brand_logo {
  .logo {
    position: relative;
  }
  .logo-text {
    position: relative;
    color: #2c2c2c;
    margin-bottom: 0;
    bottom: 25px;
    font-weight: 800;
    text-align: left;
    left: 33%;
  }
  .location-logo-text{
    position: relative;
    right: 12%;
  }
  .header-logo-text {
    position: relative;
    right: 5px;
  }
}
/*FACETS STYLES*/
// .facets {
//   background-color: #F7F7F7;
//   border: 1px solid #E5E5E5;
//   border-top: 0;
//   box-sizing: border-box;
//   box-shadow: 2px 2px 3px #BBB;
//   padding: 0px 10px 0px 10px;
//   position: relative;
// }
#save_email_search {

  form {
    padding: 15px 0px 0px 0px;
  }
  h4 {
    @extend .facet-header;
  }
}
#company_filter {
  h4 {
    @extend .facet-header;
  }
}
#city_filter {
  h4 {
    @extend .facet-header;
  }
}
#title_filter {
  h4 {
    @extend .facet-header;
  }
}
#top_search_filter {
  h4 {
    @extend .facet-header;
  }
}
.filter-panel {
  display: block;
  padding: 10px 0px;
}
.filter-accordion:hover {
  cursor: pointer;
}
.filter-panel.filter-panel-deactive {
  display: none;
}
.city-title-filter a, .company-filter-title a, .title-filter-title a, .top-search-filter-title a {
  color: #777;
}
.company-filter-title, .title-filter-title, .top-search-filter-title {
  float: left;
}
.company-job-count, .city-count, .title-count, .top-search-count{
  float: right;
  font-weight: 200;
}

/*SEARCHBOX STYLES*/
#search {
margin-bottom: 50px;

  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      float: left;
    }
  }
  .tag {
    background: #F7F7F7;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;

    &:before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }
    &:after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #F7F7F7;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
    &:hover {
      background-color: #2c2c2c;
      color: #ffffff;
    }
    &:hover::after {
      border-left-color: #2c2c2c;
    }
  }
  .facebook-icon {
    color: #1f4ed0;
  }
  .twitter-icon {
    color: #4292ff;
  }
  .linkedin-icon {
    color: #396cf5;
  }
  .google-plus-icon {
    color: #ff4d00;
  }
  .email-icon {
    color: #b0b0b0;
  }
  .plus-icon {
    color: #ff783e;
  }
  label {
    @extend .main-search-labels;
    display:block;
  }
  input {
    display:block;
  }
  .search-section {
    margin-bottom: 10px;
  }
  .social-media {
    border: 1px solid #f7f7f7;
    box-shadow: 2px 2px 3px #BBB;
    margin: 0 40% 0 12%;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: hidden;
  }
  .caret-up {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 47%;
    background: #ffffff;
    border-top: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .show-social {
    visibility: visible;
  }
  .search-submit{
    @extend .global-btn;
    text-align: center;
  }
  .search-show-all {
    font-size: 12px;
    position: relative;
    top: 10px;

    a {
      text-decoration: underline;
      color: $dark-gray;
    }
  }
  .what-section {
    display:inline-block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      left: 10px;
      bottom: 5px;
    }
    #what{
      @extend .search-input-boxes;
      width: 100%;
      padding: 0 0 0 40px;
    }
  }
  .where-section {
    display:inline-block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      left: 10px;
      bottom: 5px;
    }
    #where {
      @extend .search-input-boxes;
      width: 100%;
      padding: 0 0 0 40px;
    }
  }
  .search-submit {
    display: inline-block;
    margin: 0 15px 10px 0;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 100;
  }
}
/*MAIN PAGE CONTENT STYLES*/

#main_content {
  margin-bottom: 35px;
}

/*RIGHT SIDE SEARCH RESULTS STYLES*/
  .right-content {
    .show-more-jobs {
      float: right;
      @extend .global-btn;
    }
    .job-listing:nth-child(n+11) {
        display:none;
    }
    .jobs-found {
      border-bottom: 1px solid #d3d3d3;
      padding-bottom: 10px;
      margin-top: 0;
      color: #2c2c2c;
      font-weight: bold;
    }
    .job-listing {
        padding: 10px 0px;
        border-bottom: 1px solid #d3d3d3;
    }
    .job-title {
      margin: 0;
    }
    .job-title-clk {
      color: $dark-gray;
    }
    .email-box {
      @extend .gray-section-boxes;
      padding: 10px;
      margin-top: 75px;

      #mobile_enter_email {
        position: relative;
        margin-bottom: 10px;

        .enter-email {
          width: 100%;
          padding: 5px;
        }

        .save-email {
            @extend .global-btn;
            position: absolute;
            bottom: 3px;
            right: 0;
            display: inline-block;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 3px;
            font-weight: 100;
        }
      }
    }
    .facebook-icon {
      color: #1f4ed0;
    }
    .twitter-icon {
      color: #4292ff;
    }
    .linkedin-icon {
      color: #396cf5;
    }
    .google-plus-icon {
      color: #ff4d00;
    }
    .email-icon {
      color: #b0b0b0;
    }
    .plus-icon {
      color: #ff783e;
    }
  }

/*FOOTER STYLES*/
#footer {
  margin-top: 100px;

  .footer-content li {
    display: inline-block;
    font-size: 22px;
    padding: 25px;
  }
  .f-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-content li a {
    color: #2c2c2c;
  }
  .footer {
    background-color: #F7F7F7;
    overflow: hidden;
  }
}

/*MOBILE FOOTER STYLES*/
#mobile_footer {
  background-color: #525252;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  z-index: 99;

  .mob-nav-section {
    text-align: center;
    position: relative;

    ul li {
      font-size: 20px;
      border-bottom: 1px solid #3F3F3F;
    }
    ul {
      position: absolute;
      top: -100px;
      padding: 0;
      width: 250px;
      max-width: 250px;
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    }
    .mob-nav-content {
      padding: 10px;
    }
    .mob-nav-content p {
      color: #ffffff;
    }
    .mob-nav-content i {
      font-size: 40px;
      color: #ffffff;
    }
  }
}

/*MOBILE FOOTER POPUP CONTENT STYLES*/
#mobile_footer_content {

  .mob-nav-content-pop{
    position: fixed;
    width: 100%;
    z-index: 9;
    bottom: -110px;

    .cbp-spmenu {
    	position: absolute;
    }
    .cbp-spmenu h3 {
    	color: #666666;
    	font-size: 1.9em;
    	padding: 20px;
    	margin: 0;
      border-bottom: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
    	font-weight: 300;
    	background: #ffffff;
    }
    .cbp-spmenu a {
    	display: block;
    	color: black;
      background-color: white;
    	font-size: 1.1em;
    	font-weight: 300;
    }
    .cbp-spmenu a:hover {
    	background: #d3d3d3;
      color: #ffffff;
    }
    .cbp-spmenu a:active {
    	background: #afdefa;
    	color: #47a3da;
    }
    .cbp-spmenu-horizontal {
    	width: 100%;
    	height: auto;
    	left: 0;
    	z-index: 1000;
    	overflow: hidden;
    }
    .cbp-spmenu-horizontal h3 {
    	height: 100%;
    	width: 20%;
    	float: left;
    }
    .cbp-spmenu-horizontal a {
    	padding: 0.8em;
      border: 1px solid #d3d3d3;
      color: #000000;
    }
    .cbp-spmenu-horizontal .m-message:nth-child(n+4) {
      display: none;
    }
    .cbp-spmenu-bottom {
    	bottom: -150px;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open {
    	bottom: 185px;
    }
    .cbp-spmenu {
    	-webkit-transition: all 0.1s ease;
    	-moz-transition: all 0.1s ease;
    	transition: all 0.1s ease;
    }
  }
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  .mobile-search-facets {
    display: none;
  }
  .mobile-search-facets.show-mobile-search-facets {
    display: block;
  }
  .facets {
    display: none;
  }
  .social-media {
    margin-top: 75px;
  }
  .mobile-search-criteria {
    text-align: center;
  }
  .mobile-search-btn {
    background-color: #f7f7f7;
    color: black;
    padding: 10px 20px;
    border-radius: 2px;
  }
  #main_nav {
    .right-nav {
      display: none;
    }
    .location-logo {
      text-align: center;
    }
    .left-logo {
      float: none !important;
      text-align: center;
    }
  }
  #brand_logo {
    .logo-text {
      left: 14%;
    }
    .location-logo {
      margin: 0 auto;
      width: 33%;
    }
  }
  #save_email_search {
    padding: 0 15px;
    margin-bottom: -40px;

    h4 {
      margin: -1px -15px;
    }
    .email-box {
      border: 1px solid #666666;
      background-color: #f7f7f7;
      margin-bottom: 30px;
      border-top: none;
      border-radius: 3px;
      margin-top: 75px;
      padding: 0px 10px;
    }
    .save-email {
      margin-top: 15px;
      width: 100%;
    }
  }
  #city_filter {
    padding: 0 15px;
    margin-bottom: -76px;

    h4 {
      margin: -1px -15px;
    }
    .city-filter-box {
      border: 1px solid #666666;
      background-color: #f7f7f7;
      margin-bottom: 30px;
      border-top: none;
      border-radius: 3px;
      margin-top: 75px;
      padding: 0px 10px;
    }
  }
  #company_filter {
    padding: 0 15px;
    margin-bottom: -76px;

    h4 {
      margin: -1px -15px;
    }
    .company-filter-box {
      border: 1px solid #666666;
      background-color: #f7f7f7;
      margin-bottom: 30px;
      border-top: none;
      border-radius: 3px;
      margin-top: 75px;
      padding: 0px 10px;
    }
  }
  #title_filter {
    padding: 0 15px;
    margin-bottom: -76px;

    h4 {
      margin: -1px -15px;
    }
    .title-filter-box {
      border: 1px solid #666666;
      background-color: #f7f7f7;
      margin-bottom: 30px;
      border-top: none;
      border-radius: 3px;
      margin-top: 75px;
      padding: 0px 10px;
    }
  }
  #top_search_filter {
    padding: 0 15px;
    margin-bottom: -76px;

    h4 {
      margin: -1px -15px;
    }
    .top-search-filter-box  {
      border: 1px solid #666666;
      background-color: #f7f7f7;
      margin-bottom: 30px;
      border-top: none;
      border-radius: 3px;
      margin-top: 75px;
      padding: 0px 10px;
    }
  }
  #search {
    margin-bottom: 0;

    .what-section {
      width: 93% !important;
      margin-bottom: 20px;
    }
    .where-section {
      width: 93% !important;
      margin-bottom: 20px;
    }
    .submit-section {
      padding: 0 12px;
    }
    .search-submit {
      width: 94%;
    }
    .share-social.search-submit {
      display: none;
    }
    .breadcrumb-row {
      display: none;
    }
  }
  #current_jobs {
    padding: 0 15px;
    margin-top: 115px;

    .more-jobs {
      text-align: center;
      margin-top: 30px;
    }
    .show-more-jobs {
      float: none !important;
    }
  }
  #mobile_footer_content {

  }
  #mobile_footer {
    display: block;
  }
  #footer {
    display: none;
  }
  #footer-content {

  }
  #footer_mobile {
    display: block;
    margin-bottom: 67px;

    .footer-mobile-content {
      li {
        border-top: 1px solid gray;
        padding: 15px 15px;
        background-color: #f7f7f7;

        a {
          color: black;
          font-size: 20px;
          color: black;
          font-size: 22px;
        }
      }
    }
  }
     #main_content .right-content .email-box, .city-filter-box, .company-filter-box, .title-filter-box, .top-search-filter-box {

    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  #search {
    .submit-section {
        padding: 0 14px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  #brand_logo {
    .location-logo {
       margin: 0 auto;
       width: 17%;
     }
  }
  #search {
    .submit-section {
        padding: 0 23px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .mobile-search-criteria {
    display: none;
  }
  .mobile-search-facets.show-mobile-search-facets {
    display: none;
  }
  .facets {
    display: block;
  }
  .mobile-facets {
    display: none;
  }
  .mobile-social-media {
    display: none;
  }
  .right-content {
    #save_email_search {
      display: none;
    }
  }
  #main_nav {
    .location-logo {
       margin: 0 auto;
       width: 100%;
     }
     .right-nav {
       display: block;
     }
     .left-logo {
       float: left !important;
     }
  }
  #brand_logo {
    .location-logo {
      margin: 0 auto;
      width: 56%;
    }
    .logo-text {
      left: 15%;
      font-size: 28px;
    }
  }
  #save_email_search {
    margin-bottom: -31px;

    .email-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
  #city_filter {
    margin-bottom: -31px;

    .city-filter-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
  #company_filter {
    margin-bottom: -31px;

    .company-filter-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
  #title_filter {
    margin-bottom: -31px;

    .title-filter-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
  #top_search_filter {
    margin-bottom: -31px;

    .top-search-filter-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
  #search {
    margin-bottom: 20px;

    .breadcrumb-row {
      display: block;
    }
    .search-submit {
      width: 32%;
    }
    .caret-up {
      left: 63%;
    }
    .social-media {
      margin: 0 10% 0 12%;
    }
    .what-section {
      width: 100% !important;
      margin-bottom: 0px;
    }
    .where-section {
      width: 100% !important;
      margin-bottom: 0px;
    }
    .submit-section {
      padding: 0;
    }
    .share-social.search-submit {
      display: inline-block;
    }
  }
  #current_jobs {
    margin-top: 48px;
    padding: 0;

    .show-more-jobs {
      float: right !important;
    }
  }
  #mobile_footer {
    display: none;
  }
  #footer {
    display: block;
  }
  #footer_mobile {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  #brand_logo {
    .logo-text {
      font-size: 34px;
      left: 20%;
    }
  }
  #save_email_search {
    .save-email {
        margin-top: 0;
        width: 100%;
    }
  }
}
