@charset "utf-8";
/* TODO: Incorporate Marcus's latest design, which was approved last Friday afternoon to this in the future. */
/** Legacy styles **/

/*GLOBAL STYLES AND VARIABLES*/

$primary-navy-blue: #3a4153;
$background-gray: #f4f4f4;
$light-gray: #909090;
$btn-gray: #bdbdbd;
$blue: #1a93f4;
$red-maroon: #954343;
$black: #000000;
$white: #ffffff;

/* START OF NEW SASS STYLES FOR REBRANDING */
*:focus {
  outline: 0;
}
*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: $background-gray;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  color: #777;
}
a:hover {
  text-decoration: none;
}
legend{
  border-bottom: none;
}

/*SASS EXTEND/INHERITANCE STYLES*/

@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}
@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}
.gray-section-boxes {
  border: 1px solid $white;
  background-color: $white;
  margin-bottom: 30px;
  border-radius: 3px;
}
.facet-header {
  background-color: $primary-navy-blue;
  color: $white;
  border: 1px solid $primary-navy-blue;
  padding: 10px 15px;
  margin: 0px -15px;
  box-shadow: 2px 2px 3px #BBB;
}
.search-input-boxes {
  width: 350px;
  height: 45px;
  border: 2px solid $blue;
  @include box-shadow(0px 0px 5px 0px rgba(194,194,194,1));
}
.main-search-labels {
  text-align: left;
  font-size: 22px;
  font-weight: 200;
}
.global-btn {
  background-color: $blue;
  color: $white;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  font-weight: 100;
}
/*NEED TO ORGANIZE THIS CSS*/
.menu-item, .direct_hiddenOption {
	padding-bottom: 10px;

	a {
		color: $primary-navy-blue;

		&:hover {
			color: $red-maroon;
		}
	}
}
.count {
  float: right;
}
.direct_optionsMore {
	padding-right: 10px;
}
.direct_optionsMore, .direct_optionsLess {
	color: $primary-navy-blue;

	&:hover {
		color: $red-maroon;
	}
}
.job-description-section {
  margin-top: 50px;
}
#addThis {
	margin: 0 auto;
	width: 75%;
}
.share-icon {
	height: 24px;
	width: 30px;
}
.direct_highlightedText {
  padding-top: 20px;
}
.direct-detail-jobListingCompany {
  display: block;
  color: $primary-navy-blue;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 15px;
}
.direct-detail-highlightedText {
  color: $primary-navy-blue;
  font-size: 24px;
  display: block;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 15px;
}
.direct-detail-horzRule {
  margin-top: 25px;
}
#direct_jobDescriptionText {
  margin-bottom: 25px;
}
/*MAIN NAVIGATION HEADER STYLES*/
#main_nav {
  margin-bottom: 75px;

  .left-logo{
    padding-top: 8px;
    float: left;


    .header-logo {
      height: 30px;
      width: 60px;
      position: relative;
      bottom: 2px;
      -webkit-filter: invert(50%);
      filter: invert(50%);
    }
  }
  .main-nav {
    height: 42px;
    background-color: $primary-navy-blue;
    border-color: $primary-navy-blue;

  .dropdown-menu {
      padding: 0;
      width: 250px;
      max-width: 250px;
      box-shadow: 0 0px 5px rgba(0,0,0,0.15);
    }
  }
  .my-jobs-logo {
    font-size: 24px;
    font-weight: bold;
    color: $white;
  }
  .navbar-nav.navbar-right.right-nav {
    float: right;
    margin-top: 7px;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 200;
      color: $white;
    }
    .dropdown {
     li {
       font-size: 20px;
       border-bottom: 1px solid #3F3F3F;
     }
     a {
       font-size: 20px;
     }
     .dropdown-menu {
       a {
         font-size: 14px;
         color: $primary-navy-blue;
       }
     }
   }
  }
}
/*ENTIRE PAGE CONTENT STYLES (EXCLUDING THE NAVIGATION)*/
#page_content {
  margin: 0 auto;
  max-width: 1460px;
}
/*BRAND LOGO STYLES*/
#brand_logo {
  .logo {
    position: relative;
  }
  .logo-text {
    position: relative;
    color: $primary-navy-blue;
    margin-bottom: 0;
    bottom: 25px;
    font-weight: 800;
    text-align: left;
    left: 33%;
  }
  .location-logo-text{
    position: relative;
    right: 12%;
  }
  .header-logo-text {
    position: relative;
    right: 5px;
  }
}

#direct-saved-search-box {

  form {
    padding: 15px 0px 0px 0px;
  }
  h3 {
    @extend .facet-header;
  }

  .enter-email {
    border: 2px solid $btn-gray;
  }
  .email-frequency {
    border: 2px solid $btn-gray;
  }
	.get-title {
		text-align: center;
	}
}
#direct_disambiguationDiv {
  h3 {
    @extend .facet-header;
  }
}
// #city_filter {
//   h3 {
//     @extend .facet-header;
//   }
// }
// #title_filter {
//   h3 {
//     @extend .facet-header;
//   }
// }
// #top_search_filter {
//   h3 {
//     @extend .facet-header;
//   }
// }
.filter-panel {
  display: block;
	margin: 10px 0;
}
.filter-accordion:hover {
  cursor: pointer;
}
.filter-panel.filter-panel-deactive {
  display: none;
}
.city-title-filter a, .company-filter-title a, .title-filter-title a, .top-search-filter-title a {
  color: $primary-navy-blue;
}
.city-title-filter a:hover, .company-filter-title a:hover, .title-filter-title a:hover, .top-search-filter-title a:hover {
  color: $red-maroon;
}
.company-filter-title, .title-filter-title, .top-search-filter-title {
  float: left;
}
.company-job-count, .city-count, .title-count, .top-search-count{
  float: right;
  font-weight: 200;
  color: $primary-navy-blue;
}

/*SEARCHBOX STYLES*/
#search {
margin-bottom: 50px;

  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      float: left;
    }
  }
  .tag {
    background: $btn-gray;
    border-radius: 3px 0 0 3px;
    color: $white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;

    &:before {
      background: $white;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }
    &:after {
      background: transparent;
      border-bottom: 13px solid transparent;
      border-left: 10px solid $btn-gray;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
    &:hover {
      background-color: $primary-navy-blue;
      color: $white;
    }
    &:hover::after {
      border-left-color: $primary-navy-blue;
    }
  }
  .facebook-icon {
    color: #1f4ed0;
  }
  .twitter-icon {
    color: #4292ff;
  }
  .linkedin-icon {
    color: #396cf5;
  }
  .google-plus-icon {
    color: #ff4d00;
  }
  .email-icon {
    color: #b0b0b0;
  }
  .plus-icon {
    color: #ff783e;
  }
  label {
    @extend .main-search-labels;
    display:block;
  }
  input {
    display:block;
  }
  .social-media {
    border: 1px solid $white;
    box-shadow: 2px 2px 3px #BBB;
    margin: 0 20% 0 15%;
    padding-top: 10px;
    visibility: hidden;
  }
  .caret-up {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 47%;
    background: $white;
    border-top: 1px solid $white;
    border-left: 1px solid $white;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .show-social {
    visibility: visible;
    background-color: $white;
  }
  .search-submit{
    @extend .global-btn;
    text-align: center;
  }
  .search-show-all {
    font-size: 12px;
    position: relative;
    top: 10px;

    a {
      text-decoration: underline;
      color: $primary-navy-blue;
    }
  }
  .what-section {
    display:inline-block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      left: 10px;
			font-size: 24px;
			top: 10px;
      color: $blue;
    }
    #q{
      @extend .search-input-boxes;
      width: 100%;
      padding: 0 0 0 40px;

      &::-webkit-input-placeholder {
        color: $blue;
      }
      &::-moz-placeholder {
        color: $blue;
      }
      &:-ms-input-placeholder {
        color: $blue;
      }
      &:-moz-placeholder {
        color: $blue;
      }
    }
  }
  .where-section {
    display:inline-block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      left: 10px;
			font-size: 24px;
			top: 10px;
      color: $blue;
    }
    #location {
      @extend .search-input-boxes;
      width: 100%;
      padding: 0 0 0 40px;

      &::-webkit-input-placeholder {
        color: $blue;
      }
      &::-moz-placeholder {
        color: $blue;
      }
      &:-ms-input-placeholder {
        color: $blue;
      }
      &:-moz-placeholder {
        color: $blue;
      }
    }
  }
  .search-submit {
    display: inline-block;
    margin: 0 15px 10px 0;
    padding: 9px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 100;
  }
}
/*MAIN PAGE CONTENT STYLES*/

#main_content {
	margin-top: 100px;
  margin-bottom: 35px;
}

/*RIGHT SIDE SEARCH RESULTS STYLES*/
  .right-content {
    .show-more-jobs {
      float: right;
      @extend .global-btn;
    }
    // .direct_joblisting:nth-child(n+11) {
    //     display:none;
    // }
    .jobs-found {
      border-bottom: 1px solid #d3d3d3;
      padding-bottom: 10px;
      margin-top: 0;
      color: $primary-navy-blue;
			font-size: 16px;
      font-weight: bold;
    }
    .direct_joblisting {
        padding: 10px 0px;
        border-bottom: 1px solid #d3d3d3;
    }
    .direct-job-title {
      margin: 0;
			font-size: 20px;
    }
    .direct-job-title-clk {
      color: $blue;

      &:hover {
        color: $red-maroon;
      }
    }
    .email-box {
      @extend .gray-section-boxes;
      padding: 10px;
      margin-top: 75px;

      #mobile_enter_email {
        position: relative;
        margin-bottom: 10px;

        .enter-email {
          width: 100%;
          padding: 5px;
          border: 2px solid $btn-gray;
        }

        .save-email {
            background-color: $btn-gray;
            color: $white;
            position: absolute;
            bottom: 3px;
            right: 0;
            display: inline-block;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 3px;
            font-weight: 100;
        }
      }
    }
    .facebook-icon {
      color: #1f4ed0;
    }
    .twitter-icon {
      color: #4292ff;
    }
    .linkedin-icon {
      color: #396cf5;
    }
    .google-plus-icon {
      color: #ff4d00;
    }
    .email-icon {
      color: #b0b0b0;
    }
    .plus-icon {
      color: #ff783e;
    }
  }

/*FOOTER STYLES*/
#footer {
  margin-top: 100px;

  .footer-content li {
    display: inline-block;
    font-size: 22px;
    padding: 25px;
  }
  .f-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-content li a {
    color: $white;
  }
  .footer {
    background-color: $primary-navy-blue;
    overflow: hidden;
  }
}

/*MOBILE FOOTER STYLES*/
#mobile_footer {
  background-color: $primary-navy-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  z-index: 99;

  .mob-nav-section {
    text-align: center;
    position: relative;

    ul li {
      font-size: 20px;
      border-bottom: 1px solid #3F3F3F;
    }
    ul {
      position: absolute;
      top: -100px;
      padding: 0;
      width: 250px;
      max-width: 250px;
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    }
    .mob-nav-content {
      padding: 10px;
    }
    .mob-nav-content p {
      color: $white;
    }
    .mob-nav-content i {
      font-size: 40px;
      color: $white;
    }
  }
}

/*MOBILE FOOTER POPUP CONTENT STYLES*/
#mobile_footer_content {

  .mob-nav-content-pop{
    position: fixed;
    width: 100%;
    z-index: 9;
    bottom: -110px;

    .cbp-spmenu {
    	position: absolute;
    }
    .cbp-spmenu h3 {
    	color: $white;
    	font-size: 1.9em;
    	padding: 20px;
    	margin: 0;
      border-bottom: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
    	font-weight: 300;
    	background: $white;
    }
    .cbp-spmenu a {
    	display: block;
    	color: $black;
      background-color: white;
    	font-size: 1.1em;
    	font-weight: 300;
    }
    .cbp-spmenu a:hover {
    	background: #d3d3d3;
      color: $white;
    }
    .cbp-spmenu a:active {
    	background: #afdefa;
    	color: #47a3da;
    }
    .cbp-spmenu-horizontal {
    	width: 100%;
    	height: auto;
    	left: 0;
    	z-index: 1000;
    	overflow: hidden;
    }
    .cbp-spmenu-horizontal h3 {
    	height: 100%;
    	width: 20%;
    	float: left;
    }
    .cbp-spmenu-horizontal a {
    	padding: 0.8em;
      border: 1px solid #d3d3d3;
      color: $black;
    }
    .cbp-spmenu-horizontal .m-message:nth-child(n+4) {
      display: none;
    }
    .cbp-spmenu-bottom {
    	bottom: -150px;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open {
    	bottom: 185px;
    }
    .cbp-spmenu {
    	-webkit-transition: all 0.1s ease;
    	-moz-transition: all 0.1s ease;
    	transition: all 0.1s ease;
    }
  }
}

/*STYLES FOR THE JOBS DETAILS PAGE*/

#direct_listingDiv {
  h4 {
    margin-bottom: 5px;
    margin-top: 0;
  }
  h3 {
    border-bottom: 2px solid #f7f7f7;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }
  .info-section {
    p {
      &:nth-child(1) {
        color: $primary-navy-blue;
      }
    }
  }
  .apply {
    background-color: $primary-navy-blue;
    color: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin: 0 15px 10px 0;
    padding: 10px 75px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 100;
    font-weight: 100;

		&:hover {
			background-color: $red-maroon;
		}
  }
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  .mobile-search-facets {
    display: none;
  }
  .mobile-search-facets.show-mobile-search-facets {
    display: block;
  }
  .facets {
    display: none;
  }
  .social-media {
    margin-top: 75px;
  }
  .mobile-search-criteria {
    text-align: center;
  }
  .mobile-search-btn {
    background-color: $white;
    color: $black;
    padding: 10px 20px;
    border-radius: 2px;
  }
  #main_nav {
    .right-nav {
      display: none;
    }
    .location-logo {
      text-align: center;
    }
    .left-logo {
      float: none !important;
      text-align: center;
    }
  }
  #brand_logo {
    .logo-text {
      left: 14%;
    }
    .location-logo {
      margin: 0 auto;
      width: 33%;
    }
  }
  #direct-saved-search-box {
    padding: 0 15px;
    margin-bottom: -40px;

    h3 {
      margin: -1px -15px;
			font-size: 20px;
    }
    .email-box {
      border: 1px solid $white;
      background-color: $white;
      margin-bottom: 30px;
      border-top: none;
      border-radius: 3px;
      margin-top: 75px;
      padding: 0px 10px;
    }
		.search-sent-text {
			text-align: center;
		}
		.direct-action-btn {
			margin: 20px 0;
			text-align: center;

			a {
				background-color: $btn-gray;
				color: $white;
				padding: 10px;
				border-radius: 3px;
			}
		}
    .save-email {
      margin-top: 15px;
      width: 100%;
      background-color: $btn-gray;
      color: $white;
    }
  }
	.filter-box {
		border: 1px solid #ffffff;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-top: none;
    border-radius: 3px;
    padding: 0px 10px;
		margin: 0 15px;
	}
  // #city_filter {
  //   padding: 0 15px;
  //   margin-bottom: -76px;
	//
  //   h3 {
  //     margin: -1px -15px;
	// 		font-size: 20px;
  //   }
  //   .city-filter-box {
  //     border: 1px solid $white;
  //     background-color: $white;
  //     margin-bottom: 30px;
  //     border-top: none;
  //     border-radius: 3px;
  //     margin-top: 75px;
  //     padding: 0px 10px;
  //   }
  // }
  // #company_filter {
  //   padding: 0 15px;
  //   margin-bottom: -76px;
	//
  //   h3 {
  //     margin: -1px -15px;
	// 		font-size: 20px;
  //   }
  //   .company-filter-box {
  //     border: 1px solid $white;
  //     background-color: $white;
  //     margin-bottom: 30px;
  //     border-top: none;
  //     border-radius: 3px;
  //     margin-top: 75px;
  //     padding: 0px 10px;
  //   }
  // }
  // #title_filter {
  //   padding: 0 15px;
  //   margin-bottom: -76px;
	//
  //   h3 {
  //     margin: -1px -15px;
	// 		font-size: 20px;
  //   }
  //   .title-filter-box {
  //     border: 1px solid $white;
  //     background-color: $white;
  //     margin-bottom: 30px;
  //     border-top: none;
  //     border-radius: 3px;
  //     margin-top: 75px;
  //     padding: 0px 10px;
  //   }
  // }
  // #top_search_filter {
  //   padding: 0 15px;
  //   margin-bottom: -76px;
	//
  //   h3 {
  //     margin: -1px -15px;
	// 		font-size: 20px;
  //   }
  //   .top-search-filter-box  {
  //     border: 1px solid $white;
  //     background-color: $white;
  //     margin-bottom: 30px;
  //     border-top: none;
  //     border-radius: 3px;
  //     margin-top: 75px;
  //     padding: 0px 10px;
  //   }
  // }
  #search {
    margin-bottom: 0;

    .what-section {
      width: 93% !important;
      margin-bottom: 20px;
    }
    .where-section {
      width: 93% !important;
      margin-bottom: 20px;
    }
    .submit-section {
      padding: 0 12px;
    }
    .search-submit {
      width: 94%;
			font-size: 18px;
    }
    .share-social.search-submit {
      display: none;
    }
    .breadcrumb-row {
      display: none;
    }
  }
  #direct_listingDiv {
    padding: 0 15px;

    .more-jobs {
      text-align: center;
      margin-top: 30px;
    }
    .show-more-jobs {
      float: none !important;
    }
  }
  #mobile_footer {
    display: block;
  }
  #footer {
    display: none;
  }
  #footer_mobile {
    display: block;
    margin-bottom: 67px;

    .footer-mobile-content {
      li {
        border-top: 1px solid gray;
        padding: 15px 15px;
        background-color: $white;

        a {
          color: $black;
          font-size: 20px;
          color: $black;
          font-size: 22px;
        }
      }
    }
  }
	#direct_listingDiv {
		padding: 0 20px;

		.apply {
			margin: 0 auto;
			width: 100%;
			text-align: center;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  #search {
    .submit-section {
        padding: 0 14px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  #brand_logo {
    .location-logo {
       margin: 0 auto;
       width: 17%;
     }
  }
  #search {
    .submit-section {
        padding: 0 23px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .mobile-search-criteria {
    display: none;
  }
  .mobile-search-facets.show-mobile-search-facets {
    display: none;
  }
  .facets {
    display: block;
  }
  .mobile-facets {
    display: none;
  }
  .mobile-social-media {
    display: none;
  }
  .right-content {
    #direct-saved-search-box {
      display: none;
    }
  }
  #main_nav {
    .location-logo {
       margin: 0 auto;
       width: 100%;
     }
     .right-nav {
       display: block;
     }
     .left-logo {
       float: left !important;
     }
  }
  #brand_logo {
    .location-logo {
      margin: 0 auto;
      width: 56%;
    }
    .logo-text {
      left: 15%;
      font-size: 28px;
    }
  }
  #direct-saved-search-box {
    margin-bottom: -31px;

    .email-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
  // #city_filter {
  //   margin-bottom: -31px;
	//
  //   .city-filter-box {
  //     margin-top: 0px;
  //     padding: 0 10px;
  //   }
  // }
  // #company_filter {
  //   margin-bottom: -31px;
	//
  //   .company-filter-box {
  //     margin-top: 0px;
  //     padding: 0 10px;
  //   }
  // }
  // #title_filter {
  //   margin-bottom: -31px;
	//
  //   .title-filter-box {
  //     margin-top: 0px;
  //     padding: 0 10px;
  //   }
  // }
  // #top_search_filter {
  //   margin-bottom: -31px;
	//
  //   .top-search-filter-box {
  //     margin-top: 0px;
  //     padding: 0 10px;
  //   }
  // }
  #search {
    margin-bottom: 20px;

    .breadcrumb-row {
      display: block;
      padding-top: 5px;
    }
    .search-submit {
      width: 32%;
    }
    .caret-up {
      left: 63%;
    }
    .social-media {
      margin: 0 20% 0 15%;
      padding-top: 10px;
    }
    .what-section {
      width: 100% !important;
      margin-bottom: 0px;
    }
    .where-section {
      width: 100% !important;
      margin-bottom: 0px;
    }
    .submit-section {
      padding: 0;
    }
    .share-social.search-submit {
      display: inline-block;
    }
  }
  #direct_listingDiv {
    padding: 0;

    .show-more-jobs {
      float: right !important;
    }
    .job-location-information {
      color: $primary-navy-blue;
    }
		.hiringPlace {
			color: $primary-navy-blue;
		}
  }
  #mobile_footer {
    display: none;
  }
  #footer {
    display: block;
  }
  #footer_mobile {
    display: none;
  }
	#direct_listingDiv {
		padding: 0;

		.apply {
			width: 35%;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  #brand_logo {
    .logo-text {
      font-size: 34px;
      left: 20%;
    }
  }
  #direct-saved-search-box {
    .save-email {
        margin-top: 0;
        width: 100%;
    }
  }
	#direct_listingDiv {
		padding: 0;

		.apply {
			width: 28%;
		}
	}
}

@media only screen and (min-width : 1300px) {

	#direct_listingDiv {
		padding: 0;

		.apply {
			width: 28%;
		}
	}
}

/* END NEW SASS STYLES FOR REBRANDING */


// #direct_dotjobsMetaBoxSearch #standardSearch .searchHeader,
// #direct_dotjobsMetaBoxSearch #standardSearch .searchFooter{
// 	background-color: rgba(242, 242, 242, .85);
// }
//
// #direct_container .row .stub{
//     width: 40px;
// }
// #direct_container .veteran .stub{
//     width: 42px;
// }
// #direct_colophon ul{
//     line-height: 0px;
//     margin: 0;
// }
//
// /*Header Styles*/
// .tabSpacer {
//     width: 1px;
//     height: 26px;
//     background: transparent url(/static/tabBG.png);
//     display: block;
//     float: left;
// }
//
// #current-microsite-name {
//     color: #FFF;
//     font-weight: bold;
//     text-decoration: none;
//     padding-top: 4px !important;
//     padding-bottom: 5px !important;
//     font-size: 1.2em;
// }
//
// #current-microsite-name {
//     margin-left: 11px;
// }
//
// .moreLocs {
//     padding-top: 2px;
//     padding-bottom: 1px;
//     margin-top: 42px;
// }
//
// .siteTagsList.showTagList{
//     display: block;
// }
// .siteTagsList.hideTagList{
//     display: none;
// }
//
// .megaMenuTab{
//     background-color: #444;
//     color: #FFF;
//     width: 128px;
//     padding: 5px;
//     font-weight: bold;
//     cursor: pointer;
//     border: 1px solid #555;
// }
//
// #megaMenuCities,
// #megaMenuSiteTags {
//     display: none;
// }
//
// #megaMenuCities h4,
// #megaMenuSiteTags h4{
//     background: #444;
//     margin-right: 21px;
//     margin-top: 10px;
//     border-top-left-radius: 4px;
//     border-top-right-radius: 4px;
//     color: #fff;
//     padding-left: 5px;
//     padding-bottom: 2px;
// }
//
// #megaMenuCities div.selectBox {
//     height: 251px;
//     margin-top: -1px;
//     float: left;
// }
//
// .cityList,
// .tagList {
//     background: #fff;
//     height: 228px;
//     overflow-y: auto;
//     overflow-x: hidden;
//     color: #000;
//     font-size: 1em;
//     line-height: 14pt;
//     position: relative;
// }
// #cityStatesDiv,
// #cityCitiesDiv,
// .tagList{
//     background: #fff;
//     border: 1px solid #999;
//     border-bottom-left-radius: 4px;
// }
// #siteTagDiv{
//     height: 198px;
// }
// #megaMenuCities div#cityCitiesSelect{
//     margin-left: -1px;
// }
// #megaMenuSiteTags h4#left-block-corner{
//     border-top-left-radius: 0px;
// }
// #megaMenuSiteTags h4#right-block-corner{
//     border-top-right-radius: 0px;
// }
// #megaMenuSiteTags h4.fix-right-margin{
//     margin-right: 0px;
// }
// #megaMenuSiteTags div#fix-left-margin{
//     margin-left: -1px;
// }
// #megaMenuSiteTags div.no-left-margin{
//     margin-left: 0px;
// }
// #megaMenuSiteTags div#siteTagSelect{
//     width: 619px;
// }
// #cityCitiesList{
//     border-bottom-right-radius: 4px;
// }
// #popularCityList,
// #popularTagList{
//     background: #fff;
//     border: 1px solid #999;
//     border-bottom-left-radius: 4px;
//     border-bottom-right-radius: 4px;
//     margin-left: 21px;
// }
// #cityCitiesList a,
// #cityPopularCities a,
// #associatedList a{
//     margin: 0;
//     padding: 0;
//     text-shadow: none;
//     color: #000;
//     font-size: 1em;
//     line-height: 12px;
// }
// ul#cityCitiesList  li  a:hover,
// ul#cityPopularCities  li  a:hover,
// ul#associatedList  li  a:hover {
//     background-color: transparent;
// }
// #cityLoading,
// #associatedLoading {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     top: 0;
//     left: 0;
//     display: none;
// }
// #megaMenuCities li,
// #megaMenuSiteTags li {
//     float: none;
//     font-size: 1em;
//     padding: 2px 0px 3px 10px;
// }
// #megaMenuCities ul,
// #megaMenuSiteTags ul {
//     float: none;
//     cursor: default;
// }
// li.menu-item-active,
// #megaMenuCities li:hover,
// #megaMenuSiteTags li:hover {
//     background: #5a6d81;
//     color: #fff;
// }
// #megaMenuCities li:hover a,
// #megaMenuSiteTags li:hover a {
//     color: #fff;
// }
//
// .ui-autocomplete {
//     max-height: 200px;
//     overflow-y: auto;
//     /* prevent horizontal scrollbar */
//     overflow-x: hidden;
// }
//
// .ui-autocomplete-category {
//     font-weight: bold;
//     color: #fff;
//     background: #5c99f0;
//     padding: 5px;
// }
// .ui-menu-item {
//     display: inline-block;
//     padding-right: 15px;
//     text-indent: 9px;
//     font-size: .9em;
// }
// .column_one {
//     font-weight: bold;
//     float:left;
//     width: 350px;
// }
// .column_two {
//     float:left;
//     width: 200px;
// }
//
// #cities ul {
//     margin-left: 5px;
// }
// #popularCityList {
//     margin-left: 0;
// }
// h1{
//     font-family: helvetica, arial, sans-serif;
//     font-weight: normal;
// }
//
// #direct_dotjobsHeader h1 a,
// #direct_dotjobsHeader h1 a:hover{
//     text-decoration: none;
//     color: #333;
// }
// h1#direct_mobileH1{
//     min-height: 80px;
// }
// #direct_dotjobsHeader h1.noDotJobs{
//     padding: 37px 0px 15px 0;
//     height: 39px;
// }
// #direct_dotjobsHeader h1 img,
// h1#direct_mobileH1 img{
//     position: relative;
//     top: 19px;
// }
//
// /*Job Detail Styles*/
// #direct_applyButton a:link, #direct_applyButton a:visited,
// #direct_applyButtonBottom a:link, #direct_applyButtonBottom a:visited,
// #direct_searchOptions li a {
//     color: #fff !important;
//     filter: none !important;
// }
//
// #direct_dotjobsMetaBoxSearch #standardSearch{
//     display: block;
//     margin: 170px 20px 230px 20px;
//     z-index: 99;
//     position: relative;
//     border-radius: 2px;
// }
// #standardSearch .searchHeader{
//     float: left;
//     height: auto;
//     padding-bottom: 0px;
// }
// #standardSearch .searchHeader input{
//     margin-bottom: 0px;
// }
// #direct_dotjobsMetaBoxSearch #standardSearch .searchHeader,
// #direct_dotjobsMetaBoxSearch #standardSearch .searchFooter{
//     border-radius: 2px;
// }
// #direct_dotjobsMetaBoxSearch #standardSearch .searchHeader{
//     padding-bottom: 9px;
//     -webkit-border-bottom-left-radius: 0px;
//     -moz-border-bottom-left-radius: 0px;
//     border-bottom-left-radius: 0px;
//     -webkit-border-bottom-right-radius: 0px;
//     -moz-border-bottom-right-radius: 0px;
//     border-bottom-right-radius: 0px;
//     border-bottom-width: 0px;
// }
// #direct_dotjobsMetaBoxSearch #standardSearch .searchFooter{
//     border-top-width: 0px;
//     -webkit-border-top-left-radius: 0px;
//     -moz-border-top-left-radius: 0px;
//     border-top-left-radius: 0px;
//     -webkit-border-top-right-radius: 0px;
//     -moz-border-top-right-radius: 0px;
//     border-top-right-radius: 0px;
// }
//
// #direct_searchBoxBottom{
//     height: 60px;
//     background-color: rgba(0,0,0,.5);
//     z-index: 99;
//     position: absolute;
//     margin-top: -58px;
//     width: 960px;
//     box-shadow: 0px 2px 2px #999;
// }
//
// #direct_searchBoxBottom #direct_dotjobsBottomSponsor{
//     float: left;
//     background: transparent;
//     height: 60px;
//     width: auto;
//     margin: 5px;
// }
// #direct_searchBoxBottom #direct_dotjobsBottomSponsor img{
//     height: 50px;
// }
// #direct_searchBoxBottom #direct_dotJobsImageControls{
//     width: auto;
//     margin-left: 20px;
//     text-align: right;
//     padding: 20px;
//     float: right;
// }
// #direct_searchBoxBottom #direct_dotJobsImageControls .imageControl{
//     display: block;
//     float: left;
//     height: 23px;
//     width: 30px;
//     margin: 0 5px;
//     color: #FFF;
//     text-align: center;
//     background-image: url(/static/billboard-nav.png);
//     background-position: 0 -60px;
//     padding-top: 7px;
//     font-weight: bold;
//     font-size: 1.3em;
// }
// #direct_searchBoxBottom #direct_dotJobsImageControls .imageControl:hover,
// #direct_searchBoxBottom #direct_dotJobsImageControls span.active{
//     color: #000;
//     background-position: -30px -60px;
//     cursor: pointer;
// }
// #direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_prev{
//     background-position: 0px 0px;
// }
// #direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_next{
//     background-position: 0px -30px;
// }
// #direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_prev:hover{
//     background-position: -30px 0px;
// }
// #direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_next:hover{
//     background-position: -30px -30px;
// }
// .copyrightControl{
//     cursor: pointer;
//     position: absolute;
//     right: 10px;
//     bottom: 70px;
//     height: 20px;
//     width: 20px;
//     text-indent: -9000px;
//     background-image: url(/static/billboard-nav.png);
//     background-repeat: no-repeat;
//     background-position: 0 -90px;
// }
//
// #sponsor-dotjobs{
//     position: absolute;
//     width: 136px;
//     height: 136px;
//     border-radius: 50px;
//     text-align: center;
//     display: block;
//     text-decoration: none;
//     margin-top: -505px;
//     left: 852px;
//     text-indent: -99999px;
//     outline: none;
// }
// a#sponsor-dotjobs:hover{
//     background-position: 0 -135px;
// }
// #direct_dotjobsIconContainer{
//     display: block;
//     text-align: center;
// }
// #direct_dotjobsIconBar,
// #direct_dotjobsFilterCarousel{
//     height: 60px;
//     padding: 10px;
//     background: #f2f2f2;
//     border: 1px solid #e0e0e0;
//     margin: 10px 0;
//     border-radius: 2px;
//     box-shadow: 0px 2px 2px #999;
// }
//
// #direct_dotjobsIconBar .icon{
//     margin: 0 10px;
//     background: #DDD;
//     width: 102px;
//     height: 52px;
// }
// #direct_dotjobsIconBar .icon img{
//     width: 100px;
//     height: 50px;
//     border: 1px solid #ccc;
// }
// #direct_dotjobsIconBar .browse{
//     height: 60px;
// }
// #direct_dotjobsIconBar .span15,
// #direct_dotjobsFilterCarousel .span15{
//     width: 856px;
//     margin-left: 14px;
//     padding-left: 0px;
//     margin-right: 0px !important;
// }
// #direct_dotjobsIconBar .span15{
//     margin-left: 10px;
//     padding-right: 0px;
// }
// #direct_dotjobsFilterCarousel .browse{
//     height: 250px;
// }
// #direct_dotjobsFilterCarousel{
//     height: auto;
// }
// .spanOneHalf{
//     width: 20px;
//     margin-left: 0px;
//     margin-right: 10px;
//     height: 1px;
// }
// #direct_dotjobsCarouselContainer .direct_scrollBox{
//     position: relative;
//     left: 0px;
//     width: 10000px;
// }
// #direct_dotjobsCarouselContainer{
//     overflow-x: hidden;
// }
// #direct_companyList{
//     height: 30px;
// }
// #direct_companyList a{
//     padding: 2px 5px 5px 5px;
//     background-color: #F2F2F2;
//     margin: -12px auto 0 auto;
//     width: 150px;
//     text-align: center;
//     border-radius: 2px;
//     box-shadow: 0px 2px 2px #999;
//     display: block;
// }
// #direct_companyList a:hover{
//     color: #FFF;
// }
// #direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer{
//     display: block;
//     float: left;
//     background: #FFF;
//     border: 1px solid #e0e0e0;
//     border-radius: 2px;
//     width: 270px;
//     padding: 5px;
//     margin-right: 5px;
//     min-height: 245px;
// }
// #direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer h3 .direct_filterLabel{
//     font-weight: normal;
//     color: #666;
// }
// #direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer h3 span{
//     display: inline;
//     border: none;
//     margin: 0;
// }
// .direct_dotjobsFilterContainer h3{
//     padding: 5px;
//     background: #f2f2f2;
//     border: 1px solid #e0e0e0;
//     border-radius: 2px;
// }
// .direct_dotjobsFilterContainer ul{
//     margin-top: 5px;
//     margin-bottom: 5px;
// }
// .direct_dotjobsFilterContainer a{
//     color: #666;
//     line-height: 1.2em;
// }
// .direct_dotjobsFilterContainer a:hover{
//     color: #900;
// }
// .direct_dotjobsFilterContainer .more_less_links_container {
//     margin-left: 25px;
// }
// .ui-autocomplete .ui-state-hover,
// .ui-menu .ui-menu-item a{
//     padding: 0px;
//     border: 0px;
//     margin: 0 0 0 0 !important
// }
//
// .account_btn {
//     display: none;
// }
//
// #grouping-list {
//     border: 1px solid;
//     margin-top: 15px;
// }
//
// #grouping-list * {
//     margin-left: 30px;
// }
//
// #grouping-list ul {
//     padding-left: 30px;
// }
//
// #grouping-list [id^='products-']:first-of-type {
//     margin-top: 30px;
// }
//
// #grouping-list [id^='products-']:last-of-type {
//     margin-bottom: 30px;
// }
