@charset "utf-8";

/*GLOBAL STYLES AND VARIABLES*/

$primary-navy-blue: #3a4153;
$background-gray: #f4f4f4;
$medium-gray: #f7f7f7;
$light-gray: #909090;
$extra-light-gray: #e5e5e5;
$btn-gray: #bdbdbd;
$blue: #1a93f4;
$red-maroon: #954343;
$black: #000000;
$white: #ffffff;

/* START OF NEW SASS STYLES FOR REBRANDING */

*:focus {
  outline: 0;
}
*{
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  height: 100%;
  background-color: $white;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  color: $primary-navy-blue;
}
a:hover {
  text-decoration: none;
}
legend{
  border-bottom: none;
}

/*SASS EXTEND/INHERITANCE STYLES*/

@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}
@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}
.gray-section-boxes {
  border: 1px solid $white;
  background-color: $white;
  margin-bottom: 30px;
  border-radius: 3px;
}
.facet-header {
  background-color: $white;
  color: $primary-navy-blue;
  border: 1px solid #d5d4d0;
  padding: 10px 15px;
  font-size: 20px;
  margin: 0px -15px;
  box-shadow: 2px 2px 3px #BBB;
}
.search-input-boxes {
  width: 350px;
  height: 45px;
  border: 2px solid $blue;
  @include box-shadow(0px 0px 5px 0px rgba(194,194,194,1));
}

/** Autocomplete **/
.ui-autocomplete {
  min-height: 1.6rem;
  max-height: 20rem;
  overflow-y: auto;
  background: $white;
  border: 1px solid #999;
  font-size: 1.5rem;
}

.ui-menu-item {
  padding: 0 .4rem;
}

.ui-menu-item-alternate {
    background-color: #F2F2F2;
}

.ui-menu-item a, .ui-menu-item-alternate a {
    cursor: pointer;
    margin: 0;
    display: block;
}

.ui-menu-item a:hover, .ui-menu-item-alternate a:hover {
  background: $blue;
  color: $white;
}
/** End Autocomplete **/

.main-search-labels {
  text-align: left;
  font-size: 22px;
  font-weight: 200;
}
.global-btn {
  background-color: $blue;
  color: $white;
  font-size: 12px;
  border: none;
  border-radius: 3px;
}

.show-more {
  @extend .global-btn;
  font-weight: 400;
  color: $white !important;
  text-decoration: none;
  padding: 0.8rem;
  margin-right: 0.3rem;
}
.show-less {
  @extend .show-more;
  background-color: orangered !important;
}
/*NEED TO ORGANIZE THIS CSS*/
.no-scroll {
  overflow: hidden;
}
.overlay {
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  padding: 0;
  transition: opacity .5s;
}

.mobile-list-open {
  display: list-item !important;
}
.nav-up {
    top: -50px;
}
#direct_companyModule {
  text-align: center;

  h3 {
    @extend .facet-header;
  }
  .company-logo {
    display: block;
    margin-top: 15px;
  }
  .company-title {
    display: block;
    color: $primary-navy-blue;
    margin-top: 5px;

    &:hover {
      color: $red-maroon;
    }
  }
  .company-box {
    border: 1px solid $extra-light-gray;
    background-color: $medium-gray;
    border-top: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px #bbb;
    padding: 0px 10px;
  }
}
.clearfooter {
  clear: both;
}
.filter-panel li, .filter-panel {
  padding-bottom: 5px;

  a {
    color: $primary-navy-blue;

    &:hover {
      color: $red-maroon;
    }
  }
}

.site-name {
  position: relative;
  color: $primary-navy-blue;
  font-weight: 800;
}
.direct_hiddenOption {display:none;}

a.direct_optionsLess {
    display:none;
}

.job-description-section {
  margin-top: 50px;
}
#addThis {
	margin: 0 auto;
	width: 75%;
}

.direct_highlightedText {
  padding-top: 20px;
}
.direct-detail-jobListingCompany {
  display: block;
  color: $primary-navy-blue;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 15px;
}
.direct-detail-highlightedText {
  color: $primary-navy-blue;
  font-size: 24px;
  display: block;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 15px;
}
.direct-detail-horzRule {
  margin-top: 25px;
}
#direct_jobDescriptionText {
  margin-bottom: 25px;
}
/*MAIN NAVIGATION HEADER STYLES*/
  /* Topbar styles */
  .menu-container > ul > li:hover > a {
      cursor: pointer;
      background-color: #f5f5f5;
      text-decoration: none;
      color: #0f0f0f!important;
  }

  .menu-container > ul > li > ul {
      display: none;
  }

  .menu-container > ul > li:last-of-type > ul {
      left: 0;
  }

  .menu-container > ul > li:hover > ul {
      display: list-item;
  }

 /* End Topbar styles*/

#last-microsite-name {
  color: $white;
}

#main_nav {
  margin-bottom: 75px;
  cursor: pointer;

  .left-logo{
    font-size: 20px;
    .header-logo {
      font-weight: bold;
      position: relative;
      -webkit-filter: invert(50%);
      filter: invert(50%);
    }
  }
  .main-nav-topbar {
    height: 40px;
    background-color: $primary-navy-blue;
    border-color: $primary-navy-blue;

  .dropdown-menu {
      padding: 0;
      width: 250px;
      max-width: 250px;
      box-shadow: 0 0px 5px rgba(0,0,0,0.15);
    }
  }

  .jobs-logo{
    a, a:visited, a:hover, a:active {
        text-decoration:none;
    }
  }

  .my-jobs-logo {
    font-size: 24px;
    font-weight: bold;
    color: $white;
    img {
      height: 2.5rem;

    }
  }

  .navbar-nav.navbar-right.right-nav {
    a {
      font-weight: 200;
      color: $white;
    }
    .dropdown {
     li {
       font-size: 20px;
       border-bottom: 1px solid #3F3F3F;
     }
     a {
       font-size: 20px;
     }
     a:hover {
       background-color: #f5f5f5;
       color: #3a4153;
     }
     .dropdown-menu {
       a {
         font-size: 14px;
         color: $primary-navy-blue;
       }
     }
   }
  }

  .submenu-dropdown > ul {
    display: none;
  }

  .submenu-dropdown ul li {
      padding: 0 30px;
  }
}
/*ENTIRE PAGE CONTENT STYLES (EXCLUDING THE NAVIGATION)*/
#page_content {
  margin: 0 auto;
  max-width: 1460px;
  min-height: 100%;
  position: relative;
}
/*BRAND LOGO STYLES*/
#brand_logo {
  .logo {
    position: relative;
    display: block;
  }
  .logo-text {
    position: relative;
  }
}

#mobile_direct-saved-search-box, #direct-saved-search-box {
  margin-bottom: -3.1rem;

  h3 {
    @extend .facet-header;
    margin: -1px -15px;
    font-size: 20px;
  }
  form {
    padding: 15px 0px 0px 0px;
  }
  .enter-email {
    border: 2px solid $primary-navy-blue;
  }
  .email-frequency {
    border: 2px solid $primary-navy-blue;
  }
  .email-box {
    border: 1px solid $extra-light-gray;
    background-color: $medium-gray;
    margin-bottom: 30px;
    border-top: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px #bbb;
    padding: 0px 10px;
  }
  .search-sent-text {
      text-align: center;
  }
  .direct-action-btn {
      margin: 20px 0;
      text-align: center;

      a {
          background-color: $btn-gray;
          color: $white;
          padding: 10px;
          border-radius: 3px;
      }
  }
  .save-email {
    margin-top: 15px;
    width: 100%;
    background-color: $primary-navy-blue;
    color: $white;

    &:hover {
      background-color: $btn-gray;
    }
  }
}

#direct_disambiguationDiv {
  h3 {
    @extend .facet-header;
  }
}

#mobile_direct_disambiguationDiv {
  h3 {
    @extend .facet-header;
  }
}

.mobile-search-btn {
  background-color: $btn-gray;
  color: $primary-navy-blue;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  font-weight: 900;
}

.filter-box {
  border: 1px solid $extra-light-gray;
  background-color: $medium-gray;
  margin-bottom: 30px;
  border-top: none;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px #bbb;
  padding: 0px 10px;
  margin: 0;
}

.filter-panel {
  display: block;
	margin: 10px 0;
}
.filter-accordion:hover {
  cursor: pointer;
}
.filter-panel.filter-panel-deactive {
  display: none;
}
.city-title-filter a, .company-filter-title a, .title-filter-title a, .top-search-filter-title a {
  color: $primary-navy-blue;
}
.city-title-filter a:hover, .company-filter-title a:hover, .title-filter-title a:hover, .top-search-filter-title a:hover {
  color: $red-maroon;
}
.company-filter-title, .title-filter-title, .top-search-filter-title {
  float: left;
}
.count {
  float: right;
}

/*SEARCHBOX STYLES*/
#search {
margin-bottom: 50px;

  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      float: left;
    }
  }
  .tag {
    background: $btn-gray;
    border-radius: 3px 0 0 3px;
    color: $white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;

    &:before {
      background: $white;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }
    &:after {
      background: transparent;
      border-bottom: 13px solid transparent;
      border-left: 10px solid $btn-gray;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
    &:hover {
      background-color: $primary-navy-blue;
      color: $white;
    }
    &:hover::after {
      border-left-color: $primary-navy-blue;
    }
  }
  .facebook-icon {
    color: #1f4ed0;
  }
  .twitter-icon {
    color: #4292ff;
  }
  .linkedin-icon {
    color: #396cf5;
  }
  .google-plus-icon {
    color: #ff4d00;
  }
  .email-icon {
    color: #b0b0b0;
  }
  .plus-icon {
    color: #ff783e;
  }
  label {
    @extend .main-search-labels;
    display:block;
  }
  input {
    display:block;
  }
  .social-media {
    margin: 0 20% 0 15%;
    padding-top: 10px;
    visibility: hidden;
    border: 1px solid #d5d4d0;
    box-shadow: 2px 2px 3px #BBB
  }
  .caret-up {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 47%;
    background: $white;
    border-top: 1px solid #d5d4d0;
    border-left: 1px solid #d5d4d0;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .show-social {
    visibility: visible;
    background-color: $white;
  }
  .search-submit{
    @extend .global-btn;
    text-align: center;
  }
  .search-submit-moc {
    @extend .global-btn;
    text-align: center;
  }
  .search-show-all {
    font-size: 12px;
    position: relative;
    top: 10px;

    a {
      text-decoration: underline;
      color: $primary-navy-blue;
    }
  }
  .what-section {
    display:inline-block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      left: .45rem;
      font-size: 24px;
      top: 10px;
      color: $blue;
    }
    .helptext {
      position: absolute;
      bottom: 12px;
      color: $blue;
      left: 15%;
    }
    label {
      display: none;
    }
    #q{
      @extend .search-input-boxes;
      width: 100%;
      padding: 0 0 0 3rem;

      &::-webkit-input-placeholder {
        color: $blue;
      }
      &::-moz-placeholder {
        color: $blue;
      }
      &:-ms-input-placeholder {
        color: $blue;
      }
      &:-moz-placeholder {
        color: $blue;
      }
    }
  }
  .where-section {
    display:inline-block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      left: .45rem;
      font-size: 24px;
      top: 10px;
      color: $blue;
    }
    .helptext {
      position: absolute;
      bottom: 12px;
      color: $blue;
      left: 15%;
    }
    label {
      display: none;
    }
    #location {
      @extend .search-input-boxes;
      width: 100%;
      padding: 0 0 0 3rem;

      &::-webkit-input-placeholder {
        color: $blue;
      }
      &::-moz-placeholder {
        color: $blue;
      }
      &:-ms-input-placeholder {
        color: $blue;
      }
      &:-moz-placeholder {
        color: $blue;
      }
    }
  }
  .moc-section {
    display:inline-block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      left: .45rem;
      font-size: 24px;
      top: 10px;
      color: $blue;
    }
    .helptext {
      position: absolute;
      bottom: 12px;
      color: $blue;
      left: 15%;
    }
    label {
      display: none;
    }
    #moc {
      @extend .search-input-boxes;
      width: 100%;
      padding: 0 0 0 2.9rem;

      &::-webkit-input-placeholder {
        color: $blue;
      }
      &::-moz-placeholder {
        color: $blue;
      }
      &:-ms-input-placeholder {
        color: $blue;
      }
      &:-moz-placeholder {
        color: $blue;
      }
    }
  }
  .search-submit, .search-submit-moc {
    display: inline-block;
    margin: 0 15px 10px 0;
    padding: 9px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 500;
  }
}
/*MAIN PAGE CONTENT STYLES*/

#main_content {
  margin-bottom: 35px;
}

/*RIGHT SIDE SEARCH RESULTS STYLES*/
  .right-content {
    .show-more-jobs {
      float: left;
      margin-top: 25px;
      @extend .global-btn;
    }
    .jobs-found {
      border-bottom: 1px solid #d3d3d3;
      margin-top: 0;
      color: $primary-navy-blue;
      font-size: 16px;
      font-weight: bold;
    }
    .direct_joblisting {
        padding: 10px 0px;
        border-bottom: 1px solid #d3d3d3;
    }
    .direct-job-title {
      margin: 0;
			font-size: 20px;
    }
    .direct-job-title-clk {
      color: $blue;

      &:hover {
        color: $red-maroon;
      }
    }
    .email-box {
      @extend .gray-section-boxes;
      padding: 10px;

      #mobile_enter_email {
        position: relative;
        margin-bottom: 10px;

        .enter-email {
          width: 100%;
          padding: 5px;
          border: 2px solid $btn-gray;
        }

        .save-email {
            background-color: $primary-navy-blue;
            color: $white;
            position: absolute;
            bottom: 3px;
            right: 0;
            display: inline-block;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 3px;
            font-weight: 100;

            &:hover {
              background-color: $btn-gray;
            }
        }
      }
    }
    .facebook-icon {
      color: #1f4ed0;
    }
    .twitter-icon {
      color: #4292ff;
    }
    .linkedin-icon {
      color: #396cf5;
    }
    .google-plus-icon {
      color: #ff4d00;
    }
    .email-icon {
      color: #b0b0b0;
    }
    .plus-icon {
      color: #ff783e;
    }
  }

/*FOOTER STYLES*/
#footer {
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;

  .footer-content li {
    display: inline-block;
    font-size: 22px;
    padding: 25px;
  }
  .f-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-content li a {
    color: $white;
  }
  .footer {
    background-color: $primary-navy-blue;
    overflow: hidden;
  }
}

/*MOBILE FOOTER STYLES*/
#mobile_footer {
  .mobile-sub-nav {
    display: none;
  }

  background-color: $primary-navy-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  z-index: 99;

  .mobile-submenu {
    position: absolute;
    background-color: $white;
    padding: 0;
  }
  .mob-nav-section {
    text-align: center;
    position: relative;

    ul li {
      font-size: 1.4rem;
      border-bottom: 1px solid #3F3F3F;
    }

    .mob-nav-content p {
      color: $white;
    }
    .mob-nav-content i {
      font-size: 3rem;
      color: $white;
    }
  }
}

/*MOBILE FOOTER POPUP CONTENT STYLES*/
#mobile_footer_content {

  .mob-nav-content-pop{
    position: fixed;
    width: 100%;
    z-index: 9;
    bottom: -110px;

    .cbp-spmenu {
    	position: absolute;
    }
    .cbp-spmenu h3 {
    	color: $white;
    	font-size: 1.9em;
    	padding: 20px;
    	margin: 0;
      border-bottom: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
    	font-weight: 300;
    	background: $white;
    }
    .cbp-spmenu a {
    	display: block;
    	color: $black;
      background-color: white;
    	font-size: 1.1em;
    	font-weight: 300;
    }
    .cbp-spmenu a:hover {
    	background: #d3d3d3;
      color: $white;
    }
    .cbp-spmenu a:active {
    	background: #afdefa;
    	color: #47a3da;
    }
    .cbp-spmenu-horizontal {
    	width: 100%;
    	height: auto;
    	left: 0;
    	z-index: 1000;
    	overflow: hidden;
    }
    .cbp-spmenu-horizontal h3 {
    	height: 100%;
    	width: 20%;
    	float: left;
    }
    .cbp-spmenu-horizontal a {
    	padding: 0.8em;
      border: 1px solid #d3d3d3;
      color: $black;
    }
    .cbp-spmenu-horizontal .m-message:nth-child(n+4) {
      display: none;
    }
    .cbp-spmenu-bottom {
    	bottom: -150px;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open {
    	bottom: 185px;
    }
    .cbp-spmenu {
    	-webkit-transition: all 0.1s ease;
    	-moz-transition: all 0.1s ease;
    	transition: all 0.1s ease;
    }
  }
}

/*STYLES FOR THE JOBS DETAILS PAGE*/

#direct_listingDiv {
  h4 {
    margin-bottom: 5px;
    margin-top: 0;
  }
  h3 {
    border-bottom: 2px solid #f7f7f7;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }
  .info-section {
    p {
      &:nth-child(1) {
        color: $primary-navy-blue;
      }
    }
  }
  .apply {
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin: 0 15px 10px 0;
    padding: 10px 75px;
    font-size: 1.9rem;
    border-radius: 3px;
  }
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Approach  ==========*/

@media only screen and (min-width: 320px) {
  .site-name {
    font-size: 2rem;
  }

  #mobile_direct-saved-search-box, #direct-saved-search-box {
    padding: 0 15px
  }

  .filter-box {
    margin: 0 15px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /** Be default iOS devices hides scroll bar,                                                                              g
  this makes all devices show scrollbar for nested sub menus **/
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1.5rem;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, .5);
  }
}

@media only screen and (min-width : 320px) and (max-width: 768px) {

  #brand_logo {
    .logo{
      width: 100%;
      height: 4rem;
    }

    .location-logo {
      margin-bottom: .2rem;
    }

    .logo-text {
     text-align: center;
    }
  }

  #mobile_footer {
    height: 6.2rem ;

    i {
      font-size: 2.5rem !important;
    }
  }

  .mob-nav-content {
    padding: .8rem 0 0 0;
  }

}

@media only screen and (min-width : 320px) and (max-width: 769px) {

  .mob-nav-section .mob-nav-content:nth-of-type(1) .mobile-submenu {
    margin-left: calc(-1 * ((100vw - 100%) / 10));
    width: 100vw !important;
    left: 41%;
    top: -8.1rem;

    li {
      text-align: left;
      padding: 10px 0px 10px 35px;
      font-size: 18px;

      a {
        color: $primary-navy-blue;
        display: inline-block;
        width: 100%;
      }
    }
  }

  #mobile-messages {
    &:nth-of-type(1) {
       top: -8.1rem;
    }
  }

  .mob-nav-section .mob-nav-content:nth-of-type(2) .mobile-submenu {
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    width: 100vw !important;
    left: 49%;
    top: -92px;

    li {
      text-align: left;
      padding: 10px 0px 10px 35px;
      font-size: 18px;

      a {
        color: $primary-navy-blue;
        display: inline-block;
        width: 100%;
      }
    }
  }

  #mobile-profile {
    &:last-of-type {
       top: -20.3rem;
    }
  }

  #mobile-employer-apps {
    margin-left: calc(-1 * ((100vw - 100%)));
    width: 100vw !important;
    left: 84%;
    top: -24.5rem;

    li {
      text-align: left;
      padding: 10px 0px 10px 35px;
      font-size: 18px;

      a {
        color: $primary-navy-blue;
      }
    }

    /* Rule for the "companies" list in Employers sub menu,
      creates white background to hide gap when companies are in collapsed state. */
    #mobile-parent-company-list {
      height: 12.2rem;
    }
  }

  #mobile_select_company {
    max-height: 8.1rem;
    max-width: 34rem;
    overflow-y: scroll;
  }

  .mob-nav-section .mob-nav-content:nth-of-type(4) .mobile-submenu {
      margin-left: calc(-1 * ((100vw - 100%) / 2));
      width: 100vw !important;
      right: 14%;
      top: -215px;

      li {
        text-align: left;
        padding: 10px 0px 10px 35px;
        font-size: 18px;

        a {
          color: $primary-navy-blue;
          display: inline-block;
          width: 100%;
        }
      }
  }

  #direct_companyModule {
    display: none;
  }
  #mobile_social_media {
    margin: 5rem auto 7rem auto;
    width: 76%;
  }

  .mobile-search-facets {
    display: none;
  }
  #direct_jobListingTitle, .jobs-found {
    margin: 0 auto;
    width: 91%;
  }
  .mobile-search-facets.show-mobile-search-facets {
    display: block;
  }
  .social-media {
    margin-top: 75px;
  }
  .mobile-search-criteria {
    text-align: center;
    padding: 25px 0px;
  }
  #main_nav {
    .right-nav {
      display: none;
    }
    .left-logo {
      float: none !important;
      text-align: center;
    }
  }
  #brand_logo {
    .location-logo-text, .logo {
      display: block;
    }

  }

  #search {
    margin-bottom: 0;

    .what-section {
      width: 93% !important;
      margin-bottom: 20px;
    }
    .where-section {
      width: 93% !important;
      margin-bottom: 20px;
    }
    .moc-section {
      width: 93% !important;
      margin-bottom: 20px;
    }
    .submit-section {
      padding: 0 12px;
    }
    .search-submit {
      width: 94%;
    }
    .search-submit-moc {
      width: 94%;
    }
    .breadcrumb-row {
      display: none;
    }
  }
  #direct_listingDiv {
    padding: 0 15px;

    .more-jobs {
      text-align: center;
      margin-top: 30px;
    }
    .show-more-jobs {
      float: none !important;
    }
  }
  #mobile_footer {
    display: block;
  }
  #footer {
    display: none;
  }
  #footer_mobile {
    display: block;
    margin-bottom: 67px;

    .footer-mobile-content {
      li {
        border-top: 1px solid gray;
        padding: 15px 15px;
        background-color: $white;

        a {
          color: $black;
          font-size: 20px;
          color: $black;
          font-size: 22px;
        }
      }
    }
  }
	#direct_listingDiv {
		padding: 0 20px;

		.apply {
			width: 100%;
			text-align: center;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .mob-nav-section .mob-nav-content:nth-of-type(1) .mobile-submenu {
    margin-left: calc(-1 * ((100vw - 100%) / 10));
    left: 36%;
  }
  .mob-nav-section .mob-nav-content:nth-of-type(2) .mobile-submenu {
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    left: 50%;
  }
  .mob-nav-section .mob-nav-content:nth-of-type(3) .mobile-submenu {
    margin-left: calc(-1 * ((100vw - 100%)));
    left: 93% !important;
  }
  .mob-nav-section .mob-nav-content:nth-of-type(4) .mobile-submenu {
      margin-left: calc(-1 * ((100vw - 100%) / 2));
      right: 7%;
  }
  #direct_jobListingTitle, .jobs-found {
    width: 95%;
  }

  .navbar-nav.navbar-right.right-nav {

      .dropdown {
        a {
          font-size: 1.7rem;
        }
      }
    }

  ::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 769px) {
  #mobile_social_media {
    padding-top: 50px;
    margin: 0 auto;
    width: 35%;
  }
}

/* Newer Higher Res Tablets */
@media only screen
  and (min-width: 769px)
  and (max-width: 991px) {

  #main_content {
    margin-top: 0;
  }

  .ui-menu-item a:hover, .ui-menu-item-alternate a:hover {
    background: $blue;
    color: $white;
  }

  #direct_companyModule {
    display: none;
  }

  .mobile-search-facets {
    display: none;
  }

  .search-section, .breadcrumb-tags {
    padding: 1rem 0 0 2rem;
  }

  #direct_jobListingTitle {
    margin: 0 auto;
    width: 91%;
  }

  .mobile-search-facets.show-mobile-search-facets {
    display: block;
  }

  .social-media {
    margin-top: 75px;
  }

  .mobile-search-criteria {
    text-align: center;
    padding: 0 0 1.6rem 0;
  }

  .right-content {
    padding-left: 5rem;
  }

  #search {
    margin-bottom: 0;

    .search-submit {
      margin: 0 1rem 0 0;
      padding: 0.9rem 2rem;
    }

    .search-submit-moc {
      margin: 0;
      padding: 0.9rem 1rem 0.9rem 1rem;
    }

    .submit-section {
      padding: 0;
    }
  }

  #menu-inbox > div.icon-envelope {
      display: none;
  }

  #menu-inbox::before {
    content: "Inbox ";
  }

  #mobile_footer {
    display: none;
  }

  #footer_mobile {
    display: none;
  }

  #main_nav {

    .main-nav-topbar {
      min-height: 0;
      height: 5rem;
    }

    .left-logo {
      padding-top: 0.5rem;
      font-size: 1.6rem;
    }

    .navbar-nav.navbar-right.right-nav {

      .dropdown {
        a {
          font-size: 1.7rem;
        }
      }
    }

  }

  #footer {
    .footer-content li {
      display: inline-block;
      font-size: 1.8rem;
      padding: 1rem;
    }
  }

  #brand_logo {
    .logo{
      width: 100%;
      height: 5rem;
    }
    .location-logo {
      margin-bottom: 1.5rem;
    }
   .logo-text {
     text-align: center;
    }
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  #mobile_direct-saved-search-box, #direct-saved-search-box {
    padding: 0 0;
  }

  .filter-box {
    margin: 0 0;
  }

  #direct_companyModule {
    display: block;
  }
  #direct_jobListingTitle, .jobs-found {
    width: 100%;
  }
  #menu-inbox > div.icon-envelope {
      display: none;
  }

  #menu-inbox::before {
    content: "Inbox ";
  }

  .mobile-search-criteria {
    display: none;
  }

  .facets {
    display: block;
  }
  .mobile-facets {
    display: none;
  }
  .right-content {
    #direct-saved-search-box {
      display: none;
    }
    #mobile_direct-saved-search-box {
      display: none;
    }
  }
  #main_nav {
     .right-nav {
       display: block;
     }
     .left-logo {
       float: left !important;
       padding-top: 7px;
     }
  }
  #direct-saved-search-box {

    .email-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }
  #mobile_direct-saved-search-box {
    margin-bottom: -31px;

    .email-box {
      margin-top: 0px;
      padding: 0 10px;
    }
  }

  .right-content {
    .jobs-found {
      border-bottom: none;
      margin-top: -4.1rem;
    }
  }

  #search {
    margin-bottom: 20px;

    .breadcrumb-row {
      display: block;
    }
    .search-submit-moc {
      width: auto;
    }
    .caret-up {
      left: 63%;
    }
    .what-section {
      width: 100% !important;
      margin-bottom: 0px;
    }
    .where-section {
      width: 100% !important;
      margin-bottom: 0px;
    }
    .moc-section {
      width: 100% !important;
      margin-bottom: 0px;
    }
    .submit-section {
      padding: 0;
    }
  }
  #direct_listingDiv {
    padding: 0;

    .show-more-jobs {
      float: left;
    }
    .job-location-information {
      color: $primary-navy-blue;
    }
		.hiringPlace {
			color: $primary-navy-blue;
		}
  }
  #mobile_footer {
    display: none;
  }
  #footer {
    display: block;
  }
  #footer_mobile {
    display: none;
  }
  #brand_logo {
    .logo{
      width: auto;
      height: 8rem;
    }
  }
  #direct_listingDiv {
      padding: 0;

      .apply {
          width: 35%;
      }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  #brand_logo {
    .logo-text {
    }
    .site-name {
      font-size: 2.3rem;
    }
  }
  #direct-saved-search-box {
    .save-email {
        margin-top: 0;
        width: 100%;
    }
  }
  #mobile_direct-saved-search-box {
    .save-email {
        margin-top: 0;
        width: 100%;
    }
  }
	#direct_listingDiv {
		padding: 0;

		.apply {
			width: 28%;
		}
	}
}

@media only screen and (min-width : 1300px) {

	#direct_listingDiv {
		padding: 0;

		.apply {
			width: 28%;
		}
	}
}

/* END NEW SASS STYLES FOR REBRANDING */
