{% extends "base-react.html" %}
{% load i18n %}
{% load static %}

{% block meta-extra %}
<script src="{% static 'ajax_select/js/bootstrap.js' %}"></script>
<script src="{% static 'ajax_select/js/ajax_select.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'ajax_select/css/ajax_select.css' %}">
{% endblock meta-extra %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
        <h1><strong>Company Management<strong></h1>
    </div>
    <div class="col-sm-12">
        <div class="breadcrumbs">
            <span>
              Enable {{ feature }}
            </span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <form action="" method="post">
        {% csrf_token %}
        {% include 'includes/form-error-highlight-bs3.html' %}
        <div class="actions row">
          <div class="col-md-offset-4 col-md-8 col-xs-12 text-center">
            <input type="submit" class="button primary" value="Enable">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="sidebar">
        <h2 class="top">Tips</h2>
        The MarketPlace feature requires users to have correct permissions
        enabled. Be sure to educate the member.
      </div>
    </div>
  </div>
  {% if message %}
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <p class="text-left">
          {{ feature }} access has been successfully enabled!
        </p>
      </div>
    </div>
  {% endif %}
{% endblock content %}
