{% extends "postajob/posting_base.html" %}
{% load i18n %}
{% load common_tags %}
{% load postajob_tags %}
{% load compress %}
{% load staticfiles %}

{% block directseo_css %}
{{ block.super }}
{% if wp_base_url %}
    <link rel="stylesheet" href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{wp_base_url}}custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap-modal.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "postajob.css" %}" rel="stylesheet" type="text/css">
{% else %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static "bundle/custom.css" %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static "bootstrap/bootstrap-modal.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "postajob.css" %}" rel="stylesheet" type="text/css">    {% endcompress %}
{% endif %}
{% endblock directseo_css %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv" class="container-fluid">
    <form action="?" method="post">
        {% include "includes/form-error-highlight-bs3.html" %}
        {% csrf_token %}
        <div class="actions row">
            <div class="col-xs-12 col-md-offset-4 col-md-8 text-center">
                {% if item.pk and not prevent_delete %}
                    <button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="button">{% trans 'Delete' %}</button>
                    <div id="delete-confirm" class="modal hide fade">
                        <div class="modal-header">{% trans 'Really Delete?' %}</div>
                        <div class="modal-body">{% blocktrans %}Are you sure you want to delete this {{verbose}}?{% endblocktrans %}</div>
                        <div class="modal-footer">
                            <div class="actions text-center">
                                <button data-dismiss="modal" class="button primary">{% trans 'Cancel' %}</button>
                                <a class="button" href="{{ delete_url }}">{% trans 'Delete' %}</a>
                            </div>{# /actions #}
                        </div>{# /modal=footer #}
                    </div>{# /delete-confirm #}
                {% endif %}
                <a href="{{ success_url }}" class="button">{% trans 'Cancel' %}</a>
                <button type="submit" class="button primary" id="profile-save">{%if submit_btn_name%}{{submit_btn_name}}{%else%}{% trans 'Save' %}{%endif%}</button>
            </div>
            <div class="col-xs-12 col-md-4 initial billing-zip-code-label"></div>
            {% if submit_text %}{{ submit_text }}{% endif %}
        </div>{# /actions #}
    </form>
</div>
{% if sidebar %}
<div class="direct_rightColBox">
    <div class="sidebar">
        <h2 class="top">Product Details</h2>
        <label>Site(s):</label>
        <b>{{ product.seosite|join:', ' }}</b>
        <br /><label>Job Limit:</label>
        <b>{% if product.num_jobs_allowed == 0 %}Unlimited{%else%}{{ product.num_jobs_allowed }}{%endif%}</b>
        <br /><label>Expires:</label>
        <b>{{ product.expiration_date }}</b>
        <br /><label>Price:</label>
        <b>${{ product.cost }}</b>
        <br />
        <small>Based on today's date of {% now "M j\, Y" %}</small>
    </div>
</div>
{% endif %}
<div class="clearfix"></div>
{% endblock %}

{% block extra-js %}
{% compress js %}
  <script type="text/javascript" src="{% static "bootstrap/bootstrap-modalmanager.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/bootstrap-modal.js" %}"></script>
{% endcompress %}
{{ form.media.js }}
{% endblock extra-js %}
