{% load label_tags %}
{% load humanize %}

<div class="product-card no-highlight">
    <div class="big-title">
        {{ search.label }} {% make_label search.is_active %} {% if search.unsubscribed %}{% make_label search.unsubscribed true_msg="unsubscribed" extra_classes="important-label" %}{% endif %}
    </div>
    <div class="sub-title">
        Search URL: <a href="{{ search.url }}" target="_blank">{{ search.url }}</a>
    </div>
    <div class="product-details">
        Frequency:

        {% if search.frequency == "W" %}

        <b>Weekly</b>, on {{ search.get_verbose_dow }}

        {% elif  search.frequency == "M" %}

        <b>Monthly</b>, on the {{ search.day_of_month|ordinal }}

        {% else %}
        <b>Daily</b>
        {% endif %}

    </div>
    <div class="product-details">
        Last sent: {{search.last_sent|default:"Never"}}
    </div>
    <a id="savedsearch-{{search.id}}" class="btn" href="{% url 'view_full_feed' %}?id={{ search.id }}">View</a>
</div>
