{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>
                Really Unsubscribe?
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div>
                <h4>
                    Unsubscribe:
                </h4>
            </div>
            {% if links.single_search %}
                <a class="btn" href="{{ links.single_search }}">
                    {% trans "This Search" %}
                </a>
            {% endif %}
                <a class="btn" href="{{ links.all_searches }}">
                    {% trans "All Searches" %}
                </a>
            <a class="btn" href="{{ links.all_email }}">
                {% trans "Everything" %}
            </a>
            <a class="btn primary" href="{% url 'saved_search_main' %}">
                {% trans "I've changed my mind" %}
            </a>
        </div>
    </div>
{% endblock %}
