{% extends "base.html" %}
{% load common_tags %}
{% load i18n %}
{% gz as gz %}

{% block site-title %}
    <title>Saved Search - My.jobs</title>
    <meta name="title" content="Saved Search - My.jobs">
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>{% trans "Your" %} <small>{% trans "Saved Searches" %}</small></h1>
    </div>
</div>

<div class="row">
    <div class="span8">
        {% if updated %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% if updated == 'all' %}
                All Saved Searches have been deleted.
            {% else %}
                Saved Search "{{ updated }}" has been deleted.
            {% endif %}
        </div>

        {% endif %}

        <div class="card-wrapper">
            <div class="wrapper-header">
                <h4>Saved Searches</h4>
            </div>
            {% for search in saved_searches %}
                {% include "mysearches/saved_search_card.html" %}
            {% empty %}
            <div class="product-card no-highlight">
                You currently have no Saved Searches. <a href="{% url 'edit_search' %}">Create a Saved Search!</a>
            </div>
            {% endfor %}
            <div class="wrapper-footer"></div>
        </div>

        {% if partner_saved_searches %}

        <div class="card-wrapper">
            <div class="wrapper-header">
                <h4>Partner Saved Searches</h4>
            </div>
            {% for search in partner_saved_searches %}
                {% include "mysearches/saved_search_pss_card.html" %}
            {% endfor %}
            <div class="wrapper-footer"></div>
        </div>

        {% endif %}
    </div>

    <div class="span4">
        <div class="sidebar">
            <h2 class="top">
                Create New
            </h2>
            <div class="navigation">
                <a class="btn" href="{% url 'edit_search' %}">Saved Search</a>
            </div>
            <h2>Digest Options</h2>
            {% if saved_searches or partner_saved_searches %}
                <p>
                Check the box below if you would like to receive a single digest email
                containing the results of each of your saved searches. This will be in place
                of separate emails for each active saved search.
                </p>
                <form method="post" action="{% url 'save_digest_form' %}" id="digest-option">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <div class="clear"></div>
                    <div class="pull-right">
                        <span id="saved"></span>
                        <button type="submit" class="btn primary" id="digest_submit">{% trans 'Save' %}</button>
                    </div>
                    <div class="clear"></div>
                </form>
            {% else %}
                <p>
                    Saved search digests allow you to receive multiple saved search
                    results in a single email instead of receiving each separately.
                    These options become available once you have at least one saved
                    search on your account.
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra-js %}
<script src="{{ STATIC_URL }}saved-search-main.151-01.js{{ gz }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".product-card:not(.no-highlight)").on("click", function() {
           window.location = $(this).find("a.btn").attr("href");
        });
    });
</script>
{% endblock %}
