.nw-heading {
    border-bottom: 1px solid #666;
    margin: 20px 0 10px 0;
}

.nw-row {
    position: relative;
    overflow: auto;
}

.nw-row ul {
    margin-left: 0;
}

.nw-fourth {
    float: left;
    width: 23.5%;
    margin: 0 2% 0 0;
}

.nw-fourth.last,
.nw-fourth:last-child {
    margin: 0 0 0 0;
}

.nw-fourth.last::after {
    content: "";
    display: block;
    clear: both;
    line-height: 1px;
    min-height: 1px;
}

.nw-half {
    float: left;
    width: 49.5%;
    margin: 0 2% 0 0;
}

.nw-full {
    width: 100%;
}

.network-card {
    margin-bottom: 10px;
}

.network-card .title-link {
    font-size: 1.4em;
}

.network-card .sub-link {
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .nw-heading {
        padding: 0 4%;
        box-sizing: border-box;
        font-size: 3em;
    }
    .m-nw-full,
    .nw-full {
        display: block;
        width: 100%;
        padding: 0 4%;
        box-sizing: border-box;
    }

    .network-card {
        margin-bottom: 20px;
    }

    .network-card .title-link {
        font-size: 1.8em;
    }

    .network-card .sub-link {
        margin-top: 8px;
        font-size: 1.4em;
    }
}