{% extends "seo/dashboard/blocks/blocks_base.html" %}

{% block content %}
{% include "seo/dashboard/blocks/includes/header.html" %}
<div class="row">
    <div class="col-md-12">
        <h3>Pages</h3>
        <a class="awrap" href="#">
            <div class="add-row">
                <i class="fa fa-plus-circle green"></i><span class="cta">Create a page</span>
            </div>
        </a>
        <table class="table table-striped">
            {% for page in pages %}
            <tr>
                <td>
                    {{ page }}
                </td>
                <td>
                    <a class="btn btn-default" href="">
                        <i class="fa fa-eye"></i>
                        Preview
                    </a>
                    <a class="btn btn-default" href="">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    Currently there are no pages created for this company.
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}