{% load i18n %}
{% load tz %}
{% load common_tags %}
{% load compress %}
{% load staticfiles %}

{% localtime on %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block site-title %}
            <title>My.jobs</title>
            <meta name="title" content="My.jobs">
            <meta charset= "utf-8">
        {% endblock %}

        {% block meta %}
            {% include "includes/meta.html" %}
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        {% block meta-extra %}{% endblock %}
        {% if wp_base_url %}
            <link rel="stylesheet" href="{{wp_base_url}}/custom.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{wp_base_url}}/bootstrapdaterange.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{wp_base_url}}/customanalytics.css" rel="stylesheet" type="text/css">
        {% else %}
            {% compress css %}
                <link rel="stylesheet" href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
                <link rel="stylesheet" href="{% static "bundle/custom.css" %}" rel="stylesheet" type="text/css">
                <link rel="stylesheet" href="{% static "bundle/bootstrapdaterange.css" %}" rel="stylesheet" type="text/css">
                <link rel="stylesheet" href="{% static "bundle/customanalytics.css" %}" rel="stylesheet" type="text/css">
            {% endcompress %}
        {% endif %}
        <!--[if IE]>
            <link href="{% static "my.jobs.ie.163-29.css" %}" rel="stylesheet" type="text/css">
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% compress js %}
            <script type="text/javascript" src="{% static "utils.181-20.js" %}"></script>
            <script type="text/javascript" src="{% static "custom.166-06.js" %}"></script>
            <script type="text/javascript" src="{% static "svg4everybody.min.js" %}"></script>
        {% endcompress %}
        <script>
            svg4everybody();
        </script>
    </head>
    <body>
        {% block topbar %}
            {% include "includes/topbar.html" with topbar_class=" topbar-new" pop_menu_class="col-md-4" %}
        {% endblock %}
        <section id="analytics_content">

          <div id="content"></div>
          <div id="ajax-busy"></div>

        </section>
        <footer>
            <div id="footer">
                {% block footer %}
                <div class="wrapper footer">
                    <div class="col-sm-1 col-sm-offset-5">
                        <a href="{% url 'about' %}">About</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="{% url 'contact_faq' %}">Contact</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="{% url 'privacy' %}">Privacy</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="{% url 'terms' %}">Terms</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="http://directemployers.org" target="_blank">by DirectEmployers</a>
                    </div>
                </div>
                {% endblock %}
                {% block quantcast %}
                    {# Start Quantcast tag #}
                    <script type="text/javascript">
                        _qoptions={
                            qacct:"p-f4sayuhJjqv_Q",
                            labels:"Dot Jobs"
                        };
                    </script>
                    <script type="text/javascript" src="//edge.quantserve.com/quant.js"></script>
                    <noscript>
                        <img src="//pixel.quantserve.com/pixel/p-f4sayuhJjqv_Q.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
                    </noscript>
                    {# End Quantcast tag #}
                {% endblock %}
            </div>
            <div class="clearfix"></div>
        </footer>
        <script>
            var staticUrl = "{% static "" %}";
            var spinnerImg = "{% static 'images/ajax-loader.gif' %}";
        </script>
        <!--[if IE]>
            <script type="text/javascript" src="{{ STATIC_URL }}es5-shim.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            // check for logout cookie every second
            utils.logoutTimer("{% url 'home' %}");
        </script>

        {% block extra-js %}

        {% endblock %}

        <script type="text/javascript">
            loc = document.location+"";
            if(loc.indexOf(".jobs:")<0){ //only run this on live sites
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-16316580-1']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_setCustomVar', 2, 'View Source', 'Dot Jobs (88)', 2]);
                _gaq.push(function() {
                    // Unique analytics property for secure.my.jobs
                    _gaq._createAsyncTracker('UA-16316580-6', 'secureMyJobs');
                });
                _gaq.push(['secureMyJobs._setDomainName','secure.my.jobs']);
                _gaq.push(['secureMyJobs._trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            }
        </script>
    </body>
</html>
{% endlocaltime %}
