{% extends "base.html" %}
{% load i18n %}
{% load common_tags %}
{% gz as gz %}
{% block topbarlogin %}{% endblock topbarlogin %}

{% block title-content %}{% trans "My.jobs - Manage your job search." %}{% endblock title-content %}

{% block content %}
    <div class="row" id="titleRow">
        <div class="span8"  id="title">
            {% if not logo_url %}
                {% include logo_template %}
            {% else %}
            <h1 style="background-image:url({{ logo_url }}) !important">{{ site_name }}</h1>
            {% endif %}
        </div>
        <div class="span4">

            {% if user.is_authenticated %}
            <div class="sidebar homepage-center-small">
                <div class="centered">
                    {% if user.is_disabled %}

                    <h2 class="top">{% trans "Your account is disabled." %} </h2>
                    <p><a href="{% url 'resend_activation' %}">Send me an activation link to bring back my account!</a></p>
                    <a class="btn primary" href="{% url 'auth_logout' %}">Log Out</a>

                    {% else %}

                    {% with short_email=user.email|truncatechars:"20" name_obj=user.get_full_name %}

                    <h2 class="top"><small>Welcome</small> {% if not name_obj %}{{ short_email }}{% else %}<br/>{{ name_obj }}{% endif %}</h2>

                    {% endwith %}

                    <div class="navigation">
                        <a class="btn" href="{% get_ms_url %}">Search For Jobs</a>
                        <a class="btn" href="{% url 'view_profile' %}">View Your Profile</a>
                        <a class="btn primary" href="{% url 'auth_logout' %}">Log Out</a>
                    </div>
                    {% endif %}

                </div>
            </div>
            {% else %}
            <div class="sidebar homepage-center">
                <h2 class="top">Create Account</h2>
                {% include "includes/widget-user-registration.html" with form=registrationform%}
                <h2>Log In</h2>
                <input type="hidden" name="next" value="{{ nexturl }}">
                {% include "includes/widget-login-username.html" with form=loginform %}
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block extra-js %}
<script> var num_modules = {{ num_modules }}; </script>
<script type="text/javascript" src="{{STATIC_URL}}account-creation.158-6.js{{ gz }}"></script>
{% endblock %}
