{% load i18n %}
{% if not site_heading %}
    {% load seo_extras %}
    {% flatpage_site_heading as site_heading %}
{% endif %}
{% if site_config.wide_header %}
    {{site_config.wide_header|safe}}
{% elif 'network' in site_tags %}
{% load seo_extras %}
{% if site_config.use_secure_blocks %}
<div data-secure_block_id="sb_toolbar" data-site_name="{{ site_name }}" data-widget_type="tools"></div>
{% endif %}
<div class="direct_dotjobsWideHeader">
    <div id="direct_dotjobsHeader" role="banner">
        {% if site_config.home_page_template == "home_page/home_page_my_jobs.html" %}
            <h1>
                <a href="/">
                    <img src="//d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_md.145-03.png" id="headerLogo" alt="my.jobs" width="192" height="83" />
                </a>
                <span id="direct_tagline">
                    The Right Place for <a id="" href="https://secure.my.jobs"></a>
                </span>
            </h1>
        {% else %}
            {% if site_heading|lower == "default" %}
                <h1 class="noDotJobs">
                    {{host}}
                </h1>
            {% else %}
                {% with site_heading|cut:".jobs" as site_heading_base %}
                    {%if site_heading_base == site_heading %}
                        {% with site_heading|case_insensitive_cut:" Jobs" as site_heading_base2 %}
                            {%if site_heading_base2 == site_heading %}
                                <h1 class="noDotJobs">
                                {{site_heading}}
                                </h1>
                            {% else %}
                                <h1><a href="/">
                                {{site_heading_base2}}<img src="{{ STATIC_URL }}dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                                </a></h1>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <h1><a href="/">
                        {{site_heading_base}}<img src="{{ STATIC_URL }}dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                        </a></h1>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
