/*NEED TO DELETE THIS CSS BEFORE PUTTING INTO SYSTEM - FAKE FIXED HEADER*/
/*DELETE DELETE DELETE DELETE*/
/*DELETE DELETE DELETE DELETE*/
/*DELETE DELETE DELETE DELETE*/
/*DELETE DELETE DELETE DELETE*/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;
  background-color: #000000;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-input {
  display: none;
}

.tab-label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tab-label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-label:hover {
  color: #888;
  cursor: pointer;
}

.tab-input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #5a6d81;
  border-bottom: 1px solid #e6e6e6;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

#tab2 + label{
  display: none;
}
#tab3 + label{
  display: none;
}
#tab4 + label{
  display: none;
}

/*************************************************************************/

html{
  position: relative;
}
body {
  background: #f7f8f9;
  overflow-x: hidden;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.nav.navbar-right.right-options{
  margin-right: 0 !important;
}
#page_content {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -53px;
}
#page_wrapper {
  margin-top: 30px;
  padding-left: 200px;
  transition: all 1s;
}
#menu {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 30px;
  width: 200px;
  height: 100%;
  background-color: #5a6d81;
  transition: all 1s;
}
#menu i{
  width:40px;
  text-align:center;
}

    #site-name {
        color: #000000;
        display: block;
        padding: 10px;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 50px;
        padding-right: 0px;
    }

    #site-name i {
        float: left;
    }

    #site-name label {
        color: #000000;
        font-size: 30px;
    }

    #menu ul {
        padding: 0;
    }

    #menu ul li:hover {
        color: #ffffff;
        cursor: pointer;
    }

    #menu ul li .arrow-icon {
        float: right;
        font-size: 24px;
    }
    #menu ul li .side-icon{
      display: inline;
      margin-right: 10px;
    }
    #menu ul li.side-accordion .arrow-icon {
        float: right;
            left: 5px;
        font-size: 10px;
        position: relative;
        top: 4px;
    }

    #menu ul a {
        text-decoration: none;
        color: white;
        display: block;
        height: 100%;
    }
    #menu ul a:hover {
cursor: pointer;
    }
    .label-active {
      display: block;
    }

    /*MEDIA QUERIES*/

    /* Custom, iPhone Retina */
   @media only screen and (min-width : 320px) {
     #menu .side-accordion.side-accordion-header{
       display: none;
     }
     .toggle-menu{
       font-size: 32px;
        position: absolute;
        top: 15px;
        left: 20px;
     }
     #menu .accordion-container{
       padding: 30px;
     }
     #menu ul li.accordion-content{
       text-align: left;
       border-bottom: 1px solid #5a6d81;
       list-style-type: none;
       position: relative;
       padding: 5px 5px 5px 20px;
     }
     #menu ul .accordion-content a {
        text-decoration: none;
        color: #5a6d81;
    }
    .accordion-content i{
      position: absolute;
      right: 0;
      bottom: 8px;
      color: #5a6d81;
    }
    .fa-minus{
      display: none;
    }
     .accordion-container .side-accordion label{
       background: #5a6d81;
       color: #ffffff;
       font-weight: 100;
       border-bottom: 1px solid #5a6d81;
       margin: 0;
       padding: 10px 5px;
       position: relative;
     }
     .accordion-container .side-accordion {
       margin-bottom: 25px;
       list-style-type: none;
     }
     .accordion-container{
       width: 100%;
     }
     .accordion-container label {
       width: 100%;
       padding: 0 0 0 10px;
     }
     .accordion-container label:hover{
       cursor: pointer;
     }

     .accordion-container input{
       display: none;
     }
     .accordion-container ul {
     background: #ffffff;
     }
     .side-accordion ul{
       overflow: hidden;
       height: 0px;
     }
     .side-accordion input:checked ~ ul {
       height: auto;
     }
     .side-accordion input:checked + label .arrow-icon {
       -ms-transform: rotate(180deg);
       -webkit-transform: rotate(180deg);
       transform: rotate(180deg);
     }
     .side-accordion input:checked + label .plus {
       display: none;
     }
     .side-accordion input:checked + label .minus {
       display: inline-block;
     }
     .accordion-container .side-accordion label i{
       position: absolute;
      font-size: 20px;
      right: 0;
      top: 10px;
     }
     .accordion-content::before {
       content: "";
       background: white;
       bottom: 10px;
       height: 8px;
       margin-top: 15px;
       position: absolute;
       width: 8px;
       border: 1px solid #5a6d81;
       left: 5px;
       z-index: 1;
       border-radius: 50%;
     }
  .accordion-content::after {
    border-left: 1px solid #5a6d81;
    bottom: 0;
    content: "";
    left: 9px;
    position: absolute;
    top: 0;
     }
     .side-bar-mobile-header{
       background: #5a6d81;
       height: 60px;
       max-height: 60px;
     }
     /*#close, #clear, #filter {
       float: left;
     }*/
     .dimension-filter-clear {
       color: white;
      font-size: 16px;
      position: absolute;
      left: 0;
      margin: 18px 10px 0px 15px;
     }
     .dimension-filter{
       color: white;
        font-size: 18px;
        position: absolute;
        left: 28%;
        margin: 15px 0px 0px 5px;
     }
     #close{
       position: absolute;
       right: 0;
       margin: 5px 15px 0px 0px;
     }
     #close i {
       color: white;
       font-size: 42px;
     }
     .nav.navbar-right.right-options{
       float: right!important;
       margin-right: -15px;
     }
     .nav.navbar-right.right-options li {
       float: left;
     }
     #menu {
       width: 100%;
       right: 100%;
     background-color: #f2f2f2;
       z-index: 99;
}
#menu.is-active{
  right: 0;
}

#menu_bar.is-checked {
  left: 115px;
  transition: all 1s;
}

#menu_bar{
  left: 15px;
  font-size: 36px;
  position: absolute;
  transition: all 1s;
}
     #menu.is-checked {
       transition: all 1s;
       z-index: 99;
       right: 0;
}

     #page_wrapper {
       padding-left: 0;
     }
     #page_wrapper #page_content {
       padding-left: 30px;
       padding-right: 30px;
     }
     .arrow-icon {
       display: none;
     }
     #menu ul li .side-icon {
      width: 100%;
       display: inline-block;
       margin-right: 10px;
       font-size: 24px;
     }
   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {
     .dimension-filter {
         left: 35%;
     }
   }

   /* Small Devices, Tablets */
   @media only screen and (min-width : 768px) {
     .dimension-filter {
         left: 40%;
     }
   }

   /* Medium Devices, Desktops */
   @media only screen and (min-width : 992px) {
     .toggle-menu{
       display: none;
     }
     .side-accordion .filter-header{
       float: left;
       color: white;
       font-size: 18px;
       padding-left: 5px;
     }
     .side-accordion .filter-clear-all{
       float: right;
       font-weight: 100;
       padding-right: 5px;
       padding-top: 3px;
     }
     #menu .side-accordion.side-accordion-header{
       padding: 25px 0px;
       display: block;
     }
     .accordion-container .side-accordion label {
    padding: 20px 5px;
    border-bottom: 1px solid #ffffff;
}
.accordion-container .side-accordion:nth-child(2) label {
    border-top: 1px solid #ffffff;
}
     .accordion-content::before {
    bottom: 15px;
}
.accordion-content i {
    bottom: 13px;
}
     .accordion-container .side-accordion label .plus {
       display: none;
     }
     .side-accordion input:checked + label .minus {
       display: none;
     }
     #menu .accordion-container {
    padding: 0;
}
     .side-bar-mobile-header{
       display: none;
     }
     #menu ul li {
         color: white;
         list-style: none;
         padding-right:0px;
     }
     #menu ul li.accordion-content {
         padding: 10px 5px 10px 20px;
     }

     #menu .side-accordion{
       margin-bottom: 0px;
        padding: 0;
      }
     #menu {
       width: 200px;
       left: 0;
        background-color: #5a6d81;
     }
     #page_wrapper {
       padding-left: 200px;
     }
     #page_wrapper #page_content {
       padding-left: 50px;
       padding-right: 50px;
     }
     .arrow-icon {
       display: inline-block;
     }
     #menu ul li .side-icon {
        display: inline;
        font-size: 22px;
     }
     #menu ul li a {
       text-align: left;
       font-size: 14px;
     }

   }

   /* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {

   }

   .tabs-header{
     background-color: pink;
   }

   .side-accordion-panel {
    padding: 0 18px;
    background-color: #d3d3d3;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;

   }
   .side-accordion-panel.show {
    opacity: 1;
    max-height: 500px;
}
.date-display-boxes {
  position: relative;
  margin-top: 15px;
}
.date-box {
width: 45%;
height: 45px;
padding: 0 30px;
margin: 0 15px 5px 0;
outline: 0;
border: 1px solid #dadada;
border-radius: 2px;
font-size: 1.2rem;
}
.calendar-icon-start {
  position: absolute;
  font-size: 18px;
  left: 2%;
  top: 0;
}
.calendar-icon-end {
  position: absolute;
  left: 2%;
  top: 0;
  font-size: 18px;
}

#charts {
  background: #ffffff;
  margin-bottom: 50px;
  padding: 10px;
}
.rdr-DateRange {
  position: absolute;
  z-index: 9;
}
.chart-title h2 {
  font-weight: 100;
  color: #5a6d81;
}
.options {
  font-size: 24px;
  color: #5a6d81;
}
.option-content {
  padding-right: 10px;
}
.start-date-input, .end-date-input {
  position: relative;
}
#table_data {
  padding: 10px;
  background: #ffffff;
  position: relative;
}
.search-bar {
  border-bottom-width: 0;
border-right: 1px solid rgba(0,0,0,0.3);
-webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.05) inset;
box-shadow: -1px 0 0 rgba(255,255,255,0.05) inset;
}
.search-bar .main-search input {
  background-color: transparent;
    border-color: transparent;
    color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*CSS FOR THE NEW DIMENSION TABLE*/
.rwd-table {
  min-width: 300px;
  width: 100%;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  background: #ffffff;
  color: #5a6d81;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #f7f8f9;
}
.rwd-table tr:nth-child(even) {
  background: #f7f8f9;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th{
    padding: 1em !important;
    border: 1px solid #ddd;
    border-bottom-width: 3px;
  }
.rwd-table td {
    padding: 1em !important;
    border: 1px solid #ddd;
    font-weight: 100;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #5a6d81;
  font-size: 16px;
}



/*TABLE AND BREADCRUMB NAVIGATION CSS*/

#breadcrumb {
  list-style: none;
  display: inline-block;
  padding: 0;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #5a6d81;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #e6e6e6;
  color: #5a6d81;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #e6e6e6;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #e6e6e6;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #5a6d81;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #5a6d81;
}
#breadcrumb li a:hover {
  background-color: #1abc9c;
}
#breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
#breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #16a085;
}


#dimension_filter{
  float: left;
}

#add_dimension{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background: #5a6d81;
   color: white;
   font-size: inherit;
   margin: 20px 20px 20px 0px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

#table_search{
  padding-top: 20px;
  margin-bottom: 75px;
}

#search_table {
  border: none;
  background: rgba(0, 0, 0, 0);
  width: 35%;
  border-bottom: 1px solid rgba(90, 109, 129, 0.2);
  font-size: 18px;
  outline: 0;
  position: absolute;
  margin-right: 10px;
  right: 0;
  top: 50px;
}

#search_table::-webkit-input-placeholder {
color: #5a6d81;
}

#search_table:-moz-placeholder {
   color: #5a6d81;
}

#search_table::-moz-placeholder {
   color: #5a6d81;
}

#search_table:-ms-input-placeholder {
   color: #5a6d81;
}


/*PRACTICING THE TABS STRUCTURE CSS*/

.header-tab {
  display: none;
}
.tab{
  float: left;
  list-style: none;
  font-weight: 200;
  text-align: center;
  color: #bbb;
  text-shadow: 1px 1px 0 #bbb;
  transition: .2s;
}
.tab a{
  display: block;
  position: relative;
  width: 90px;
  height: 30px;
  padding: 15px 10px 28px 0px;
  border-radius: 10px 30px 0 0;
  background: #f7f8f9;
  color: #5a6d81;
  text-align: center;
  text-decoration: none;
  transition: .2s;
}
.tabs{
  margin-bottom: 0 !important;
  margin-left: 0;
}
.tab-content{
  margin-bottom: 1.33333rem;
  width: 100%;
}
.content{
  display: none;
    float: left;
    padding: 0.83333rem 0;
    width: 100%;
}
.content.active{
  display: block;
}
.tabs-header .nav span{
  font-size: 28px;
  color: #5a6d81;
}
.tab:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.tabs-header{
  background: #e6e6e6;
  height: 60px;
  max-height: 60px;
  width: 100%;
}
.tab:hover {
  color: #888;
  cursor: pointer;
}
.content{
  margin-top: 50px;
}
.header-tab:checked + .header-tab-label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}



/*CSS FOR THE DIMENSIN LIST*/
@-moz-keyframes colorFade {
  from {
    color: #404040;
  }
  to {
    color: #cbcbcb;
  }
}
@-webkit-keyframes colorFade {
  from {
    color: #404040;
  }
  to {
    color: #cbcbcb;
  }
}
@keyframes colorFade {
  from {
    color: #404040;
  }
  to {
    color: #cbcbcb;
  }
}
.dimension_list {
  width: 280px;
  float: left;
  border: 3px solid #f7f8f9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 999;
  background: #FFFFFF;
  overflow: hidden;
  -moz-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  backface-visibility: hidden;
  cursor: pointer;
}
.dimension_list > .dimension-title {
  font-size: 1.5em;
  line-height: 32px;
  font-weight: 100;
  color: #5a6d81;
  padding: 0 5px;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.dimension_list > .dimension-title.fade {
  -webkit-animation: colorFade 0.6s 0s ease both;
  -moz-animation: colorFade 0.6s 0s ease both;
  -ms-animation: colorFade 0.6s 0s ease both;
  -o-animation: colorFade 0.6s 0s ease both;
  animation: colorFade 0.6s 0s ease both;
}
.dimension_list.hover {
  border-color: #b2b2b2;
  -moz-box-shadow: 0 0 14px 0 #efefef;
  -webkit-box-shadow: 0 0 14px 0 #efefef;
  box-shadow: 0 0 14px 0 #efefef;
}
.dimension_list.hover > .dimension-title {
  color: #b2b2b2;
}
.dimension_list.open ul {
  height: auto;
  opacity: 1;
}
.dimension_list .close {
  float: right;
}
.dimension_list ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 200;
  width: 100%;
  margin-top: 10px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px 5px 0;
  margin-top: 15px;
}
.dimension_list ul a {
  text-decoration: none;
  font-size: 20px;
  color: #cbcbcb;
  font-weight: bold;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.dimension_list ul a:hover {
  color: #636363;
}
.dimension_list ul a.active {
  color: #636363;
}
.dimension_list ul li {
  padding: 8px 0;
}

.dimension-title span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  right: 20px;
  top: 23px;
  cursor: pointer;
}
.dimension-title span:nth-child(1)
  {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: #5a6d81;
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.dimension-title span:nth-child(2)
  {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: #5a6d81;
    border-radius: 9px;
    opacity: 1;
        -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
        -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}



.dimension-title.exit span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dimension-title.exit span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
