{% extends 'base.html' %}

{% block content %}
    {% if stats %}
        <ul>
            <li>Source codes added: <b>{{ stats.added }}</b></li>
            <li>Source codes modified: <b>{{ stats.modified }}</b></li>
            <li>Total source codes: <b>{{ stats.total }}</b></li>
        </ul>
    {% endif %}
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <input type="submit" value="Submit">
    </form>
{% endblock %}