{% extends "seo_base.html" %}
{% load i18n %}
{% block directseo_searchbox %}{% endblock %}
{% block directseo_main_content %}
    <div class="row">
        <div class="span16">
            <h1>Cities</h1>
        </div>
    </div>
    <div id="cities" style="margin-bottom: 20px;">
        <div class="row">
            <div class="span10"><h4>All Cities</h4></div>
            <div class="span6"><h4>Popular Cities</h4></div>
        </div>
        <div class="span3 selectBox">
            <div class="cityList" id="cityStatesDiv">
                <ul role="menu" id="cityStatesList">
                    <li role="menuitem">Alabama</li>
                    <li role="menuitem">Alaska</li>
                    <li role="menuitem">Arizona</li>
                    <li role="menuitem">Arkansas</li>
                    <li role="menuitem">California</li>
                    <li role="menuitem">Colorado</li>
                    <li role="menuitem">Connecticut</li>
                    <li role="menuitem">Delaware</li>
                    <li role="menuitem">Florida</li>
                    <li role="menuitem">Georgia</li>
                    <li role="menuitem">Hawaii</li>
                    <li role="menuitem">Idaho</li>
                    <li role="menuitem">Illinois</li>
                    <li role="menuitem">Indiana</li>
                    <li role="menuitem">Iowa</li>
                    <li role="menuitem">Kansas</li>
                    <li role="menuitem">Kentucky</li>
                    <li role="menuitem">Louisiana</li>
                    <li role="menuitem">Maine</li>
                    <li role="menuitem">Maryland</li>
                    <li role="menuitem">Massachusetts</li>
                    <li role="menuitem">Michigan</li>
                    <li role="menuitem">Minnesota</li>
                    <li role="menuitem">Mississippi</li>
                    <li role="menuitem">Missouri</li>
                    <li role="menuitem">Montana</li>
                    <li role="menuitem">Nebraska</li>
                    <li role="menuitem">Nevada</li>
                    <li role="menuitem">New Hampshire</li>
                    <li role="menuitem">New Jersey</li>
                    <li role="menuitem">New Mexico</li>
                    <li role="menuitem">New York</li>
                    <li role="menuitem">North Carolina</li>
                    <li role="menuitem">North Dakota</li>
                    <li role="menuitem">Ohio</li>
                    <li role="menuitem">Oklahoma</li>
                    <li role="menuitem">Oregon</li>
                    <li role="menuitem">Pennsylvania</li>
                    <li role="menuitem">Rhode Island</li>
                    <li role="menuitem">South Carolina</li>
                    <li role="menuitem">South Dakota</li>
                    <li role="menuitem">Tennessee</li>
                    <li role="menuitem">Texas</li>
                    <li role="menuitem">Utah</li>
                    <li role="menuitem">Vermont</li>
                    <li role="menuitem">Virginia</li>
                    <li role="menuitem">Washington</li>
                    <li role="menuitem">West Virginia</li>
                    <li role="menuitem">Wisconsin</li>
                    <li role="menuitem">Wyoming</li>
                </ul>
            </div>
        </div>

        <div class="span7 selectBox" id="cityCitiesSelect">
            <div class="cityList" id="cityCitiesDiv">
                <ul role="menu" id="cityCitiesList"></ul>
                <div id="cityLoading"></div>
            </div>
        </div>

        <div class="span6 selectBox">
            <div class="cityList" id="popularCityList">
                <ul role="menu" id="cityPopularCities" style="border: none;">
                    <li role="menuitem"><a href="http://newyorkmetro.jobs/">New York, NY</a></li>
                    <li role="menuitem"><a href="http://losangeles.jobs">Los Angeles, CA</a></li>
                    <li role="menuitem"><a href="http://chicago.jobs/">Chicago, IL</a></li>
                    <li role="menuitem"><a href="http://dallas.jobs/">Dallas, TX</a></li>
                    <li role="menuitem"><a href="http://philadelphia.jobs/">Philadelphia, PA</a></li>
                    <li role="menuitem"><a href="http://houston.jobs/">Houston, TX</a></li>
                    <li role="menuitem"><a href="http://dcmetro.jobs/">Washington, DC</a></li>
                    <li role="menuitem"><a href="http://miami.jobs/">Miami, FL</a></li>
                    <li role="menuitem"><a href="http://atlanta.jobs/">Atlanta, GA</a></li>
                    <li role="menuitem"><a href="http://boston.jobs/">Boston, MA</a></li>
                    <li role="menuitem"><a href="http://indianapolis.jobs/">Indianapolis, IN</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra-js %}
<script>
    $(document).ready(function() {
        $("#cityStatesList li:first").trigger("click");
    });

    $('#cityStatesList li').click(function(){
        var search_state = $(this).text(),
            $citiesList = $('[id=cityCitiesList]'),
            $cityLoading = $('[id=cityLoading]');
        $('#cityStatesList li').removeClass('menu-item-active');
        $(this).addClass('menu-item-active');
        $citiesList.hide();
        $cityLoading.show();
        $citiesList.load("/ajax/data/cities", "state="+search_state, function(){
            $cityLoading.hide();
            $citiesList.show();
        });
        $('[id=cityCitiesDiv]').scrollTop(0);
    });
</script>
{% endblock %}
