{% extends "seo_base.html" %}
{% load i18n %}
{% block directseo_searchbox %}{% endblock %}
{% block directseo_main_content %}
    <div class="military-container">

    </div>
{% endblock %}

{% block extra-js %}
<script>
    $(document).ready(function() {
        // dataMF is from military_family_loc.json
        // grouping up by military branch to make separate ul lists easily.
        var militaryBranches = _.groupBy(dataMF, function(d) {
            return d.category;
        });

        _.each(militaryBranches, function(dataSet, key) {
            var sortedDataSet = _.sortBy(dataSet, function(d) { return d.base; }),
                $branchContainer = $('<div class="span-one-fifth"></div>'),
                heading = '<h1>' + key + '</h1>';

            $branchContainer.append(heading + '<ul style="margin-left: 5px;">' +
                sortedDataSet.map(function(d) {
                    return '<li><a href="' + d.profile_url + '">' + d.base + '</a></li>';
                }).join('') + '</ul>');

            $(".military-container").append($branchContainer);
        });
    });
</script>
{% endblock extra-js %}
