{% extends "seo_base.html" %}
{% load i18n %}
{% block directseo_searchbox %}{% endblock %}
{% block myblocks_css_extras %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dseo_network.166-19.css" />
{% endblock %}
{% block directseo_main_content %}
    {% if back_to_parent %}
        {{ back_to_parent|safe }}
    {% endif %}
    <h1 class="nw-heading">{{ title }}</h1>
    {% if all_link %}
    <div class="nw-row">
        <div class="nw-full">
            <div class="network-card">
                <div class="title-link">
                    {{ all_link|safe }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="nw-row">
    {% for location in locations %}
        {% if forloop.first or forloop.counter0|divisibleby:"15" %}
            {% if not forloop.first %}
                </ul>
            </div>
                {% if forloop.counter0|divisibleby:'60' and not forloop.first %}
                    <h1 class="nw-separator"></h1>
                {% endif %}
            {% endif %}
            <div class="nw-fourth{% if forloop.counter0|divisibleby:'45' and not forloop.first %} last{% endif %} m-nw-full">
                <ul>
        {% endif %}
            <li>
                <div class="network-card">
                    <div class="title-link">
                        <a href="http://{{ location.url }}">{{ location.location }} Jobs
                        {% if location.count > 0 %}({{ location.count }}){% endif %}</a>
                    </div>
                    {% if has_child_page %}
                    <div class="sub-link">
                        <a href="/network/{{ location.location }}/cities/">View {{ location.location }} Cities</a>
                    </div>
                    {% endif %}
                </div>
            </li>
        {% if forloop.last %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="clearfix"></div>
{% endblock %}
