{% extends "seo_base.html" %}
{% load i18n %}
{% block directseo_searchbox %}{% endblock %}
{% block directseo_main_content %}
    <h1>States</h1>
    {% for state in states %}
        {% if forloop.first or forloop.counter|divisibleby:"15" %}
            {% if not forloop.first %}
                </ul>
            </div>
            {% endif %}
            <div class="cp-grid-fourth">
                <ul style="margin-left: 5px;">
        {% endif %}
            <li>
                <a href="http://{{ state.url }}">{{ state.state }} Jobs
                    {% if state.count > 0 %}({{ state.count }}){% endif %}</a>
            </li>
        {% if forloop.last %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
    <div class="clearfix"></div>
    <h1>Other US Locations</h1>
    <div class="cp-grid-fourth">
        <ul style="margin-left: 5px;">
    {% for state in other_locations %}
            <li>
                <a href="http://{{ state.url }}">{{ state.state }} Jobs
                    {% if state.count > 0 %}({{ state.count }}){% endif %}</a>
            </li>
    {% endfor %}
        </ul>
    </div>
{% endblock %}
