{% extends "seo_base.html" %}
{% load i18n %}
{% block directseo_searchbox %}{% endblock %}
{% block myblocks_css_extras %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dseo_network.166-19.css" />
{% endblock %}
{% block directseo_main_content %}
    <div class="network-card">
        <div class="title-link">
            <a href="">All United States Jobs ({{ us_jobs_count }})</a>
        </div>
    </div>
    <h1 class="nw-heading">States</h1>
    <div class="nw-row">
    {% for state in states %}
        {% if forloop.first or forloop.counter0|divisibleby:"15" %}
            {% if not forloop.first %}
                </ul>
            </div>
            {% endif %}
            <div class="nw-fourth{% if forloop.counter0|divisibleby:'45' %} last{% endif %}">
                <ul>
        {% endif %}
            <li>
                <div class="network-card">
                    <div class="title-link">
                        <a href="http://{{ state.url }}">{{ state.state }} Jobs
                        {% if state.count > 0 %}({{ state.count }}){% endif %}</a>
                    </div>
                    <div class="sub-link">
                        <a href="">View {{ state.state }} Jobs by City</a>
                    </div>
                </div>
            </li>
        {% if forloop.last %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="clearfix"></div>
    <h1 class="nw-heading">Other US Locations</h1>
    <div class="nw-row">
        <div class="nw-half">
            <ul>
            {% for state in other_locations %}
                <li>
                    <div class="network-card">
                        <div class="title-link">
                            <a href="http://{{ state.url }}">{{ state.state }} Jobs
                                {% if state.count > 0 %}({{ state.count }}){% endif %}</a>
                        </div>
                        <div class="sub-link">
                            <a href="">View {{ state.state }} Jobs by City</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
