{% extends 'redirect/base.html' %}
{% block title %}
    <title>My.jobs - Page Not Found</title>
{% endblock %}

{% block content %}
    <div id="issue-content">
        <div class="row">
            <div class="span10 offset1 bordered">
                <div class="alert alert-block alert-error">
                    <h4>There was an error accessing this job...</h4>
                    <p>We apologize, but the provided information does not match any of the jobs in our system.</p>
                </div>
                <img src="//d2e48ltfsb5exy.cloudfront.net/content_mj/files/images/robot-error.png" class="centered">
            </div>
        </div>
    </div>
{% endblock %}

{% block ga_page %}/redirect/not-found/{% endblock %}

{% block ga_title %}Redirect Not Found{% endblock %}

