{% extends 'redirect/base.html' %}
{% load search_urls %}
{% block title %}
    <title>Expired Job - {{ job.job_title }} at {{ job.company_name }}</title>
{% endblock %}

{% block meta %}
        {{ block.super }}
        <script>
            var source = "{{view_source}}";
        </script>
        <script src="//d2e48ltfsb5exy.cloudfront.net/myjobs/tools/def.myjobs.widget.153-05.js"></script>
        <link rel="alternate" type="application/rss+xml" title="{{ job.company_name }} Jobs - Jobs" href="{{ browse_url }}jobs/feed/rss">
{% endblock %}

{% block content %}
    <div id="issue-content">
        <div class="row narrow">
            <div class="span10 offset1 upper-cap">
                <div class="alert alert-block alert-error">
                    <p>This job posting has expired. <a href="{{ expired_url|safe }}" class="expired-link">View it anyway.</a></p>
                    <h4 class="alert-color-override">{{ job.job_title }}</h4>
                    <small class="alert-color-override"><b>{{ job.company_name }}</b> - {{ job.job_location }}</small>
                </div>

                <div class="row">
                    <div class="span4">
                        <a href="{{ browse_url }}" class="all-search">
                            View all jobs for<br />
                            <b>{{ job.company_name }}</b><br />
                            {{ browse_url }}
                        </a>
                    </div>
                    <div class="span6">
                        {{ job|create_search_urls:browse_url }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10 offset1 lower-cap">
                <div id="widget-label">
                    <b>Get new jobs sent directly to your inbox from</b><br />
                    <b>{{ job.company_name }}</b>
                </div>
                <div id="de-myjobs-widget">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ga_page %}/redirect/expired/{% endblock %}

{% block ga_title %}Redirect Expired{% endblock %}
