<!DOCTYPE html>
<html>
<head prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#'>
    <title>My.jobs - {{ title }} - {{ company }}</title>
    <meta property='og:description' content='My.jobs is designed to make finding employment easier. Search over a million jobs from verified employers daily.' />
    <meta property='og:image' content='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/p160x160/10308132_283130181863036_6207392128747996353_a.jpg' />
    <meta property='og:locale' content='en_US' />
    <meta property='og:site_name' content='My.jobs' />
    <meta property='og:title' content='My.jobs - {{ title }} - {{ company }}' />
    <meta property='og:type' content='article' />
    <meta property='og:url' content='https://my.jobs/{{ guid }}{{ vs }}' />
</head>
