<!DOCTYPE html>
<html>
<head>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mydotjobs">
    <meta name="twitter:creator" content="@mydotjobs">
    <meta name="twitter:title" content="My.jobs - {{ title }} - {{ company }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image:src" content="http://png.nlx.org/100x50/seo/{{company_raw|slugify}}.gif">
    <meta name="twitter:domain" content="www.my.jobs">
</head>
</html>